<div class="buscador-content">
    <h1>Buscador de Tiendas</h1>
    <h2>Busca la tienda más cercana por tu ubicación actual:</h2>
    <button class="button-buscar">BUSCAR TIENDAS MÁS CERCANAS</button>
    <h2>O utiliza nuestro buscador de tiendas:</h2>
    <div class="bucador-container">
        <select class="buscar-select" name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <select class="buscar-select" name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <select class="buscar-select" name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <div class="resultados-busqueda">
            <h2>Resultado de tu búsqueda:</h2>
            <div class="resultado-busqueda borde-resultado">
                <div class="resultados-busqueda-sub">
                    <div class="resultados-busqueda-sub2">
                        <h3>Dirección</h3>
                        <p>Calle Verona Fort n16 Gigón,Asturias</p>
                    </div>
                    <div class="resultados-busqueda-sub2">
                        <h3>Email</h3>
                        <p>austefaandjohn@telefonico.com</p>
                    </div>
                    <div class="resultados-busqueda-sub2">
                        <h3>Teléfono</h3>
                        <p>123456789</p>
                    </div>
                </div>
                <div class="resultados-busqueda-sub">
                    <h3>Horario</h3>
                    <p>Lunes: 10:00-14:00 y 17:00-20:00</p>
                    <p>Martes: 10:00-14:00 y 17:00-20:00</p>
                    <p>Miércoles: 10:00-14:00 y 17:00-20:00</p>
                    <p>Jueves: 10:00-14:00 y 17:00-20:00</p>
                    <p>Viernes: 10:00-14:00 y 17:00-20:00</p>
                    <p>Sábados: Cerrado</p>
                    <p>Domingos: Cerrado</p>
                </div>
                <button class="button-buscar button-realizar-pedido">REALIZAR PEDIDO</button>
            </div>
            <div class="resultado-busqueda ">
                <div class="resultados-busqueda-sub">
                    <div class="resultados-busqueda-sub2">
                        <h3>Dirección</h3>
                        <p>Calle Inventada Fort n16 Oviedo,Asturias</p>
                    </div>
                    <div class="resultados-busqueda-sub2">
                        <h3>Email</h3>
                        <p>inventflix@telefonico.com</p>
                    </div>
                    <div class="resultados-busqueda-sub2">
                        <h3>Teléfono</h3>
                        <p>123456789</p>
                    </div>
                </div>
                <div class="resultados-busqueda-sub">
                    <h3>Horario</h3>
                    <p>Lunes: 10:00-14:00 y 17:00-20:00</p>
                    <p>Martes: 10:00-14:00 y 17:00-20:00</p>
                    <p>Miércoles: 10:00-14:00 y 17:00-20:00</p>
                    <p>Jueves: 10:00-14:00 y 17:00-20:00</p>
                    <p>Viernes: 10:00-14:00 y 17:00-20:00</p>
                    <p>Sábados: Cerrado</p>
                    <p>Domingos: Cerrado</p>
                </div>
                <button class="button-buscar button-realizar-pedido">REALIZAR PEDIDO</button>
            </div>

        </div>
    </div>
   
</div>