<div class="configurador-content">
    <h1>Configurador de Packs</h1>
    <h2>Utilice nuestro configurador de packs para crear un pakc personalizado que se ajuste a sus necesidades. Seleccione las opciones que desee oara cada uno de los elementos del pack</h2>
    <div class="configurador-container">
        <div class="configurador-card">
            <h3 class="configurar-h3-card">Línea Internet y Fijo</h3>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-1">
                    <img  src="/images/header/linea-internet.png" alt="">
                    <h4>Velocidad de Internet</h4>
                </div>
                <div class="configurador-velocidad-2">
                    <button class="button-configurar ">150 MB</button>
                    <button class="button-configurar">300 MB</button>
                    <button class="button-configurar ">600 MB</button>
                </div>
            </div>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-1">
                    <img  src="/images/header/linea-internet.png" alt="">
                    <h4>Número de líneas fijas</h4>
                </div>
                <div class="configurador-velocidad-2">
                    <button class="button-configurar ">1</button>
                    <button class="button-configurar">2</button>
                    <button class="button-configurar ">3</button>
                </div>
            </div>
        </div>
        <div class="configurador-card-2">
            <h3 class="configurar-h3-card">Línea Móvil</h3>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Línea móvil principal</h4>
            </div>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-1">
                    <img  src="/images/header/linea-internet.png" alt="">
                    <h4>Número de líneas fijas</h4>
                </div>
                <div class="configurador-velocidad-2">
                    <button class="button-configurar ">5 GB</button>
                    <button class="button-configurar">30 GB</button>
                    <button class="button-configurar ">Datos ilimitados</button>
                </div>
            </div>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Líneas móvil adicionales</h4>
                <button class="button-configurar ">Añadir línea móvil adicional</button>
            </div>
        </div>

        <div class="configurador-card-2">
            <h3 class="configurar-h3-card">TV</h3>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Pack TV</h4>
            </div>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-3">
                    <button class="button-configurar ">Series</button>
                    <button class="button-configurar">Infantil</button>
                    <button class="button-configurar ">Cine</button>
                    <button class="button-configurar ">No incluir</button>
                </div>
            </div>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Subscripciones</h4>
                <div class="checks">
                    <label class="check-container">Samsung
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-container">Xiaomi
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-container">Apple
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                
                    </div>
                    
            </div>
        </div>
        <div class="configurador-card">
            <h3 class="configurar-h3-card">Finaliza tu pedido</h3>
            <div class="configurador-card-container">
                <div class="configurador-sub-card">
                    <img class="configurador-img" src="/images/note9.png" >
                    <button class="button-configurar ">Añadir dispositivo móvil</button>
                </div>
                <div class="configurador-sub-card">
                    <img class="configurador-img" src="/images/oppo.png" >
                    <button class="button-configurar ">Añadir objeto inteligente</button>
                </div>
                <div class="configurador-sub-card">
                    <img class="configurador-img" src="/images/alarma.jpg" >
                    <button class="button-configurar ">Añadir servicio de alarma</button>
                </div>
            </div>
        </div>

        <div class="configurador-precio">
            <h3 class="configurar-h3-card"><strong>TOTAL 78,99 €/mes</strong></h3>
            <button class="button-configurar ">CONTRATAR</button>
            <button class="outline">VER DESGLOSE</button>
        </div>
    </div>

</div>