<div class="configurador-content">
    <h1>Configurador de Packs</h1>
    <h2>Utilice nuestro configurador de packs para crear un pakc personalizado que se ajuste a sus necesidades. Seleccione las opciones que desee oara cada uno de los elementos del pack</h2>
    <div class="configurador-container">
        <div class="configurador-card">
            <img  src="/images/fibra-fijo.png" alt="">
        </div>
        <div class="configurador-card">
            <img  src="/images/lineas-config.png" alt="">
        </div>
        <div class="configurador-card">
            <img  src="/images/tv-config.png" alt="">
        </div>
        <div class="configurador-card">
            <img  src="/images/completa-pedido.png" alt="">
        </div>

        <div class="configurador-precio">
            <h3 class="configurar-h3-card"><strong>TOTAL 78,99 €/mes</strong></h3>
            <button class="button-configurar ">CONTRATAR</button>
            <button class="outline">VER DESGLOSE</button>
        </div>
    </div>

</div>