<div class="emp-content">
    <h1>Empresas</h1>
    <div class="emps-banner">
        <h2>Casos de Éxito</h2>
        <img class="emp-img" src="/images/exitos.png" >
    </div>

    <h2 class="h2-empresas">Servicios para grandes empresas</h2>
    <div class="emps-container">
        <div class="emp">
            <img class="emp-img-cont" src="/images/hosting.jpg" >
            <div class="emp-info-cont">
                <h3>Hosting</h3>
                <div>
                    <p>El Hosting es la solución que permite a los clientes alojar sus sistema de información e infrastructuras críticas en Centros de Datos Profesionales.</p>
                    <ul>
                        <li>Salida a Internet redundada y protegida en Centro de Datos Profesionales.</li>
                        <li>Servicios profesionales de administración: Manos remotas y servicios profesionales de administración delegada.</li>
                    </ul>
                </div>    
                <button class="button">VER MÁS</button>
            </div>
        </div>
        <div class="emp">
            <img class="emp-img" src="/images/cloud.png" >
            <div class="emp-info-cont-2">
                <h3>Copia de seguridad en la nube</h3>
                <div>
                    <p>Si no quiere preocuparse por tener que guardar sus copias de seguridad en algún lugar seguro, nosostros lo hacemos por usted.</p>
                    <ul>
                        <li>Espacio de almacenamiento infinito</li>
                        <li>Pague solamente por el espacio ocupado</li>
                        <li>Redundancia de almacenamiento en 3 localizaciones diferentes</li>
                        <li>Acceso a los datos 24/7</li>
                    </ul>
                </div>
                <button class="button">VER MÁS</button>
            </div>
        </div>
    </div>    
</div>