<div class="home-content">
    <div class="home-card">
        <img  class="fibra-img" src="/images/fibra.jpg" alt="">
        <div class="home-card-info">
            <h2>Nuestra línea de internet con 600Mb de pura fibra</h2>
            <div>
                <p>Nuestra línea de internet de 600Mb incluye</p>
                <ul>
                    <li>Instalada y lista para usar en 24h</li>
                    <li>600Mb simétricos de auténtica fibra</li>
                    <li>Sin permanencia ni costes de instalación</li>
                </ul>
                <p>Precio: 39,95€ al mes, para siempre</p>
            </div>
            <button class="home-button">Contratar</button>
        </div>
    </div>
    <h2 class="home-h2">NUESTRAS <strong>TARIFAS</strong> DE <strong>LÍNEAS MÓVILES</strong></h2>
    <div class="tarifas-lineas-movil">
        <div class="tarifa-linea-movil">
            <h3><strong>19,99 €/mes</strong></h3>
            <div class="info-tarifa-linea-movil">
              <img  src="/images/icons/phonelink_ring_black_48dp.svg" alt="">
              <p> 10Gb de datos al mes y <strong>llamadas ilimitadas</strong></p>
            </div>
          <button class="button">Contratar</button>
        </div>
        <div class="tarifa-linea-movil">
          <h3><strong>29,99 €/mes</strong></h3>
          <div class="info-tarifa-linea-movil">
            <img  src="/images/icons/phonelink_ring_black_48dp.svg" alt="">
            <p> 200Gb de datos al mes y <strong>llamadas ilimitadas</strong></p>
          </div>
        <button class="button">Contratar</button>
      </div>
      <div class="tarifa-linea-movil">
          <h3><strong>49,99 €/mes</strong></h3>
          <div class="info-tarifa-linea-movil">
            <img  src="/images/icons/phonelink_ring_black_48dp.svg" alt="">
            <p><strong>Gb infinitos</strong> de datos al meás y <strong>llamadas ilimitadas</strong></p>
          </div>
        <button class="button">Contratar</button>
      </div>
    </div>
    <h2 class="home-h2">LA <strong>EMPRESA</strong> DE LAS <strong>EMPRESAS</strong></h2>
    <div class="home-empresas">
        <div class="casos-exito-home">
            <img  src="/images/exitos.png" alt="">
        </div>
        <div class="empresas-home">
            <a href="/pequenas-empresas" class="a-home"><h2 class="empresas-home-h2">PEQUEÑAS EMPRESAS</h2></a>
            <p>Para las empresas más pequenas ofrecemos <strong>líneas de internet,fijo y móvil</strong> por separado. O si lo prefieres, puedes contratar alguno de nuestros <strong>packs</strong> y configurarlo a tu medida.</p>
            <a href="/grandes-empresas" class="a-home"><h2 class="empresas-home-h2">GRANDES EMPRESAS</h2></a>
            <p>Si quieres contratar nuestros servicios para una empresa de <strong>más de 10 empleados</strong> contacta con nuestro <strong>servicio de ventas en el <strong>900 123 123</strong> para más información.</p>
        </div>
    </div>
</div>