


<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-1-1 uk-text-center uk-grid-margin uk-first-column">
                <span class="uk-text-lead uk-padding">Llamadas móviles</span>
            </div>

            <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                <div class="uk-width-1-1">
                    <table id="tabla" class="display">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Número</th>
                            <th>Duración</th>
                            <th>Coste</th>
                            <th>Tipo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>DOMINGO, 13 DE DICIEMBRE, 18:40</td>
                            <td>623725326</td>
                            <td>18m 9s</td>
                            <td>0€</td>
                            <td>Incluido</td>
                        </tr>
                        <tr>
                            <td>DOMINGO, 13 DE DICIEMBRE, 17:40</td>
                            <td>347324324</td>
                            <td>1m 10s</td>
                            <td>0€</td>
                            <td>Incluido</td>
                        </tr>
                        <tr>
                            <td>DOMINGO, 13 DE DICIEMBRE, 16:40</td>
                            <td>3434324234</td>
                            <td>2m 9s</td>
                            <td>1.2€</td>
                            <td>FT</td>
                        </tr>
                        <tr>
                            <td>DOMINGO, 13 DE DICIEMBRE, 14:40</td>
                            <td>347324324</td>
                            <td>1m 10s</td>
                            <td>0€</td>
                            <td>Incluido</td>
                        </tr>
                        <tr>
                            <td>DOMINGO, 13 DE DICIEMBRE, 13:40</td>
                            <td>347324324</td>
                            <td>1m 10s</td>
                            <td>0€</td>
                            <td>Incluido</td>
                        </tr>
                        <tr>
                            <td>DOMINGO, 13 DE DICIEMBRE, 12:40</td>
                            <td>347324324</td>
                            <td>1m 10s</td>
                            <td>0€</td>
                            <td>Incluido</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <script>

                $('#tabla thead tr:eq(0) th').each( function (i) {
                    var title = $(this).text();
                    $(this).html( '<input type="text" placeholder="'+title+'" />' );

                    $( 'input', this ).on( 'keyup change', function () {
                        if ( table.column(i).search() !== this.value ) {
                            table
                                .column(i)
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );

                var table = $('#tabla').DataTable( {
                    orderCellsTop: true,
                    fixedHeader: true,
                    pageLength: 25
                } );

                $( "#tabla_filter" ).remove();
                $( "#tabla_length" ).remove();
                $( "#tabla_info" ).remove();

                $( "#tabla_next" ).text("Siguiente");
                $( "#tabla_previous" ).text("Anterior");
            </script>

            <div class="uk-width-1-1 uk-text-center uk-grid-margin uk-first-column">
                <span class="uk-text-lead uk-padding">Datos móviles (Internet)</span>
            </div>

            <div class="uk-width-1-1">
                <table id="tabla_datos" class="display">
                    <thead>
                    <tr>
                        <th>Día</th>
                        <th>Descarga</th>
                        <th>Subida</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01/12/2020</td>
                        <td>3GB</td>
                        <td>2GB</td>
                    </tr>
                    <tr>
                        <td>02/12/2020</td>
                        <td>32GB</td>
                        <td>4GB</td>
                    </tr>
                    <tr>
                        <td>03/12/2020</td>
                        <td>4GB</td>
                        <td>1GB</td>
                    </tr>
                    <tr>
                        <td>04/12/2020</td>
                        <td>91GB</td>
                        <td>3GB</td>
                    </tr>
                    <tr>
                        <td>05/12/2020</td>
                        <td>23GB</td>
                        <td>10GB</td>
                    </tr>
                    <tr>
                        <td>06/12/2020</td>
                        <td>65GB</td>
                        <td>34GB</td>
                    </tr>
                    <tr>
                        <td>07/12/2020</td>
                        <td>12GB</td>
                        <td>5GB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>

            $('#tabla_datos thead tr:eq(0) th').each( function (i) {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="'+title+'" />' );

                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            var table = $('#tabla_datos').DataTable( {
                orderCellsTop: true,
                fixedHeader: true,
                pageLength: 25
            } );

            $( "#tabla_datos_filter" ).remove();
            $( "#tabla_datos_length" ).remove();
            $( "#tabla_datos_info" ).remove();

            $( "#tabla_datos_next" ).text("Siguiente");
            $( "#tabla_datos_previous" ).text("Anterior");
        </script>


    </div>
</section>