
<div class="uk-card uk-card-primary uk-grid-collapse uk-margin uk-grid uk-grid-stack" uk-grid="">
    <div class="uk-first-column">
        <div class="uk-card-body">
            <form class="uk-form-horizontal">
                <label class="uk-form-label" for="form-movil">Línea de móvil</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-movil">
                        <option>6278736727</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/roaming.png" class="uk-width-4-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p>Incluido en tu tarifa móvil Roaming <b>Unión Europea y Reino Unido</b></p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/llamada2.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox" checked> <span classs="uk-margin">Permitir recibir y realizar llamadas cuando estoy en el extranjero. Habilitar este servicio te permitirá recibir y hacer llamdas cuando estés fuera de España</span></label>
            </div>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/llamada1.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox" checked> <span classs="uk-margin">Permitir recibir llamadas cuando estoy en el extranjero. Habilitar este servicio te permitirá recibir llamdas cuando estés fuera de España</span></label>
            </div>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/datosMoviles.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox" checked> <span classs="uk-margin">Permitir conectarse a Internet desde los datos móviles fuera da España. Habilitar este servicio te permitirá utilizar los datos móviles cuando estés fuera de España</span></label>
            </div>
        </div>
    </div>
</div>


<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/euro.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <p>
                    Sí estás fuera de los países incluidos en tu tarifa y has permitido realizar o recibir llamadas se te cobrará la tarífa estándar por llamada internacional
                </p>
                <p>
                    Establecer límite menusal en el coste del Roaming (€ mes)
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="number" value="50">
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
