


<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-width-1-1">
        <div class="uk-card-body" uk-grid>
            <div class="uk-width-1-1">  <p class="uk-text-large">Datos personales</p> </div>

            <div class="uk-width-1-2">Nombre del titular</div>
            <div class="uk-width-1-2">Jhon Doe</div>
            <div class="uk-width-1-2">Teléfono de contacto</div>
            <div class="uk-width-1-2">3723842389</div>
            <div class="uk-width-1-2">Email de contacto</div>
            <div class="uk-width-1-2">jhon.doe@jd.com</div>
            <div class="uk-width-1-1"> <button class="uk-button uk-button-default">Editar información personal</button> </div>

            <div class="uk-width-1-2">Número de Documento</div>
            <div class="uk-width-1-2">332478272H</div>
            <div class="uk-width-1-1"> <button class="uk-button uk-button-default">Solicitar cambio de títular</button> </div>

        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-width-1-1">
        <div class="uk-card-body" uk-grid>
            <div class="uk-width-1-1">  <p class="uk-text-large">Dirección de contacto</p> </div>

            <div class="uk-width-1-2">Calle</div>
            <div class="uk-width-1-2">Calle Valdés Salas, 11, 33007</div>
            <div class="uk-width-1-2">Población</div>
            <div class="uk-width-1-2">Oviedo</div>
            <div class="uk-width-1-2">País</div>
            <div class="uk-width-1-2">Asturias</div>

            <div class="uk-width-1-1"> <button class="uk-button uk-button-default">Solicitar cambio de dirección</button> </div>
        </div>
    </div>
</div>
