
<div uk-grid>


    <div class="uk-width-1-2">

        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <img src="images/fibra.png" class="uk-align-center uk-width-2-3" alt="">
                <p class="uk-text-bold uk-text-center">Fibra</p>
                <p class="uk-text-meta">
                    Sin permanencia
                </p>
                <p>
                    300mbps
                </p>
                <a href="#">Cambiar tarifa</a> <br>
                <a href="#">Declarar Avería </a>
                <p class="uk-text-meta">
                    5/01/2018
                </p>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <img src="images/fijo.png" class="uk-align-center uk-width-2-3" alt="">
                <p class="uk-text-bold uk-text-center">Teléfono Fijo</p>
                <p class="uk-text-meta">
                    Sin permanencia <br>
                    Llamadas ilimitadas
                </p>
                <p>
                    923872736727 <br>
                    Asociado a Fibra
                </p>
                <a href="#">Declarar Avería </a>
                <p class="uk-text-meta">
                    5/01/2018
                </p>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <img src="images/tv.png" class="uk-align-center uk-width-2-3" alt="">
                <p class="uk-text-bold uk-text-center">TV+</p>
                <p class="uk-text-meta">
                    Sin permanencia <br>
                    Pack Series
                </p>
                <a href="#">Cambiar packs</a><br>
                <a href="#">Declarar Avería </a>
                <p class="uk-text-meta">
                    5/01/2018
                </p>
            </div>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <img src="images/movil.png" class="uk-align-center uk-width-2-3" alt="">
                <p class="uk-text-bold uk-text-center">Móvil básico</p>
                <p class="uk-text-meta">
                    Sin permanencia <br>
                    Llamadas ilimitadas <br>
                    Datos ilimitados <br>
                    SMS ilimitados <br>
                    Roaming en Europa y EE.UU.<br>
                </p>
                <p>
                    6278736727 <br>
                </p>
                <a href="#">Cambiar tarifa</a><br>
                <a href="#">Declarar Avería </a>
                <p class="uk-text-meta">
                    5/01/2018
                </p>
            </div>
        </div>
    </div>
</div>

<div class="uk-width-1-1 uk-text-center uk-grid-margin uk-first-column uk-margin">
    <span class="uk-text-lead">Servicios adicionales</span>
</div>

<div uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <img src="images/movil.png" class="uk-align-center uk-width-2-3" alt="">
                <p class="uk-text-bold uk-text-center">Nuevas líneas de móvil</p>
                <a class="uk-button uk-button-primary uk-margin-bottom uk-width-1-1">10,99€ Contratar segunda línea</a>
                <a class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">9,99€ Contratar tercera línea</a>
                <a class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">8,99€ Contratar cuarta línea</a>
                <a class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">7,99€ Contratar quinta línea o adicionales</a>
            </div>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <img src="images/alarma.jpg" class="uk-align-center uk-width-2-3" alt="">
                <p class="uk-text-bold uk-text-center">Alarma</p>
                <a class="uk-button uk-button-primary uk-margin-bottom uk-width-1-1">36,99€/mes Contratar Alarma</a>
            </div>
        </div>
    </div>
</div>


<div class="uk-width-1-1 uk-text-center uk-grid-margin uk-first-column">
    <span class="uk-text-lead ">Última factura</span>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-width-1-5 uk-padding">
        <p class="uk-text-lead uk-text-center">
            Diciembre <br>
            78,19€
        </p>
    </div>
    <div class="uk-width-3-5 uk-padding">
        <p>76,99€ FIBRA+TV+MÓVIL Pack Medio</p>
        <p>0,0€ <a href="/a_cliente_factura_fibra" >Consultar datos consumidos en fibra</a></p>
        <p>0,0€ <a href="/a_cliente_factura_fijo" >Consultar llamadas en Fijo </a></p>
        <p>1.2€ <a href="/a_cliente_factura_movil" >Consultar llamadas en Móvil </a></p>
        <p>0,0€ <a href="/a_cliente_factura_movil" >Consultar datos Móviles consumidos </a></p>
    </div>
    <div class="uk-width-1-5 uk-padding">
        <p class="uk-text-lead uk-text-center">
            Año 2020
        </p>
    </div>
</div>
