
<div class="uk-card uk-card-primary uk-grid-collapse uk-margin uk-grid" uk-grid="">
    <div class="uk-first-column">
        <div class="uk-card-body ">
            <form class="uk-search uk-search-large">
                <span uk-search-icon="" class="uk-icon uk-search-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="search-large"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg></span>
                <input class="uk-search-input" type="search" placeholder="Busca pedido...">
            </form>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/7a.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p><b>#231326</b></p>
            <p>12/01/2021 Xiaomi Redmi 7A</p>
            <p>Pendiente de recepción</p>
            <p>109,99€</p>
            <p><a href="#">Cancelar pedido</a></p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/i12pro.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p><b>#231323</b></p>
            <p>12/01/2021 Apple iPhone 12 Pro</p>
            <p>Entregado el 14/01/2021</p>
            <p>1209,99€</p>
            <p><a href="#">Enviar a garantía</a></p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/decodificador2.png" class="uk-padding uk-align-center uk-width-4-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p><b>#2323312</b></p>
            <p>1/01/2021 Decodificador</p>
            <p>Entregado el 3/01/2021</p>
            <p>32.50€</p>
            <p><a href="#">Enviar a garantía</a></p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/contrataTodo.png" class="uk-padding uk-align-center uk-width-4-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p><b>#132414</b></p>
            <p>1/01/2018 Pack Inicio tarifa FIBRA+TV+MÓVIL Medio </p>
            <p>Entregado el 5/01/2018</p>
            <p>0.0€</p>
            <p><a href="#">Solicitar asistencia</a></p>
        </div>
    </div>
</div>
