


<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/fibra.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p>14/01/2021 Cambio en condiciones del servicio de fibra a partir de junio se realizará una subida gratuita del servicio 400mbs. La subida es automática no requiere cambios en la configuración</p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/movil.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p>14/01/2021 Ha realizado cambios en la configuración de su servicio de Roaming</p>
        </div>
    </div>
</div>

<div class="uk-width-1-1 uk-text-center uk-grid-margin uk-first-column">
    <span class="uk-text-lead ">Notificaciones Leídas</span>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/paquete.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p>13/01/2021 Va a recibir un paquete con su Apple iPhone 12 Pro proximamente</p>
            <p><a href="#"> Eliminar</a></p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container uk-width-1-4">
        <img src="images/movil.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-body">
            <p>13/01/2021 Ha realizado cambios en la configuración de su servicio de Roaming</p>
            <p><a href="#"> Eliminar</a></p>
        </div>
    </div>
</div>



