<div class="alarm-content">
    <h1>Servicio de Alarmas</h1>
    <div class="alarm-card">
        <a href="/"><img width="600" src="/images/alarma.jpg" alt=""></a>
        <div class="alarm-right-panel">
            <ul>
                <li>Graba las 24h</li>
                <li>Respuesta en menos de 29 segundos</li>
                <li>Técnicos especializados 24h los 365 días del año</li>
                <li>Instalación en menos de 72h</li>
            </ul>
            <p class="alarm-price"><strong>36,99 €/mes</strong></p>
            <button class="button">CONTRATAR</button>
        </div>
    </div>
    <h2>Detalles</h2>
    <div >
        <p>Proteja su hogar con unas alarmas más completas. En Telefónico ofrecemos alarmas anti intrusiín y de seguridad ocultas</p>
        <p>Válido para:</p>
        <ul>
            <li>Adosado o chales</li>
            <li>Piso</li>
            <li>Ático o bajo</li>
        </ul>
        <p>Para más información, contacta al 900 311 806</p>
    </div>
    <h2>Dispositivos aicionales</h2>
    <div>
        <p>Podrá incluir tantos dispositivos de la lista como sean necesarios sin coste adicional:</p>
        <ul>
            <li>Panel de comunicación</li>
            <li>Sirena exterios</li>
            <li>Plata y teclado</li>
            <li>Sistema de alimentación interrumpuda (SAI)</li>
            <li>LLaves inteligentes</li>
            <li>Detectores con cámara</li>
            <li>Cámaras móviles</li>
        </ul>
    </div>
</div>