<div class="ayuda-content">
    <h1>Ayuda</h1>
    <div class="ayuda-container">
        <div class="ayuda">
            <img class="ayuda-img" src="./images/slider1.png" >
            <div class="ayuda-info-cont">
                <h2>Contacto</h2>
                <p>Póngase en contacto con nosotros si no encuentra lo que busca o tiene alguna duda</p>
                <button class="button">VER DATOS DE CONTACTO</button>
            </div>
        </div>
        <div class="ayuda">
            <img class="ayuda-img" src="./images/slider2.png" >
            <div class="ayuda-info-cont">
                <h2>Preguntas más frecuentes</h2>
                <p>Consulte las preguntas más frecuentes de nuestros usuarios.</p>
                <button class="button">CONSULTAR PREGUNTA FRECUENTES</button>
            </div>
        </div>
        <div class="ayuda">
            <img class="ayuda-img" src="./images/slider1.png" >
            <div class="ayuda-info-cont">
                <h2>Asistencia y soporte técnico</h2>
                <p>Disponemos de un personale técnico disponible las 24h del día para ayudarle a solucionar culquier problema con sus servicios contratados.</p>
                <button class="button">VER MÁS</button>
            </div>
        </div>
    </div>
    
</div>