<div class="contacto-content">
    <h1>Contacto</h1>
    <div class="contacto-container">
        <div class="contacto">
            <img class="contacto-img" src="/images/slider1.png" >
            <div class="contacto-info-cont">
                <h2>Garantía y soporte técnico</h2>
                <div>
                    <p>Puedes consultar el Servicio de Garantía y Soporte técnico a través de los siguientes medios:</p>
                    <p>Teléfono: 900 410 773 (sólo clientes)</p>
                    <p>Email: soporteclientes@telefonico.com</p>
                </div>
            </div>
        </div>
        <div class="contacto">
            <img class="contacto-img" src="/images/slider2.png" >
            <div class="contacto-info-cont">
                <h2>Llámanos para más información</h2>
                <div>
                    <p>Lunes a Viernes de 8:00 a 21:00</p>
                    <p>Sábados de 8:00 a 16:00</p>
                    <h3>900 109 473</h3>
                </div>
            </div>
        </div>
        <div class="contacto">
            <img class="contacto-img" src="/images/slider1.png" >
            <div class="contacto-info-cont">
                <h2>Escríbenos para cualquier consulta</h2>
                <div>
                    <p>Puedes consultar información sobre el proceso de contratación, productos y servicios en cualquier momento utilizando nuestro correo electrónico.</p>
                    <h3>info@telefonico.com</h3>
                </div>
            </div>
        </div>
    </div>
    
</div>