
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="images/futbol.jpeg" alt="" uk-cover>

            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Pack Fútbol Total</p>
                    <p class="uk-text-large">
                        <b>Todo el Fútbol</b><br>

                        LaLiga Santander <br>

                        Laliga Smartbank <br>

                        Champions League <br>

                        LaEuropa League <br>

                        Ligas Internacionales
                    </p>
                    <b class="uk-text-meta">99,99€/mes</b></p>
                    <button class="uk-button uk-button-primary">Contratar</button>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-rigth uk-cover-container">
                <img src="images/tenis.jpg" alt="" uk-cover>

            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Pack Deporte</p>
                    <p class="uk-text-large">
                        <b>Todo el Fútbol + </b><br>
                        <b>Todo el Deporte </b><br>
                        Grand Slams de Tenis <br>
                        Grandes Vueltas Ciclistas <br>
                        JJOO de Tokio 2021...
                    </p>
                    <b class="uk-text-meta">119,99€/mes</b></p>
                    <button class="uk-button uk-button-primary">Contratar</button>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="images/series.jpg" alt="" uk-cover>
            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Pack Deporte, Cine y Series</p>
                    <p class="uk-text-large">
                        <b>Todo el Fútbol + </b><br>
                        <b>Todo el Deporte </b><br>
                        <b>Todo el Cine y Series </b><br>
                        Más de 20.000 contenidos para toda la familia <br>
                        Canales Temáticos <br>
                        Temporadas completas de las series más vistas y premiadas <br>
                        El mejor cine de estreno
                    </p>
                    <b class="uk-text-meta">149,99€/mes</b></p>
                    <button class="uk-button uk-button-primary">Contratar</button>
                </div>
            </div>
        </div>
    </div>
</section>

