
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                <img src="images/todomoto.png" alt="" uk-cover>

            </div>
            <div class="uk-width-2-3">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Todomoto: Distribución y venta oficial de motos de alta gama</p>
                    <p>
                        Grupo TodoMoto tiene varias sedes en diferentes provincias conectadas de manera simultánea, fiable y segura a través de la <a href="/e_pequenas">Centralita Virtual</a>. Además sus empleados se comunican en movilidad a través de llamadas internas y de un servicio de mensajería instantánea, incluido en la solución de <a href="/e_pequenas">Office 365</a>, con la que además, trabajan de manera colaborativa en la nube.
                    </p>
                    <p class="uk-text-large">
                        Gracias a las soluciones de movilidad, Grupo Todomoto puede llevar y desarrollar su negocio en cualquier parte.
                    </p>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-card-media-rigth uk-cover-container uk-width-1-3">
                <img src="images/carpinteria.png" alt="" uk-cover>

            </div>
            <div class="uk-width-2-3">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Agilidad y fiabilidad en las comunicaciones</p>
                    <p>
                        La Carpintería Puigdellívol ofrece servicio, entre otros, al sector de la construcción y de la decoración. Han crecido y necesitan agilidad y fiabilidad en las comunicaciones para poder atender el volumen de llamadas y de negocio que se ha incrementado así como llegar donde están sus clientes.
                    </p>
                    <p class="uk-text-large">
                        Con la centralita Virtual y el plan de telefonia para empresas atienden a sus clientes al momento y se comunican entre empleados y proveedores con más rapidez y pueden tomar decisiones en cualquier parte.
                    </p>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                <img src="images/norbolsa.png" alt="" uk-cover>

            </div>
            <div class="uk-width-2-3">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Norbolsa, claro ejemplo de éxito en el outsourcing de sus infraestructuras informáticas. Aprovechar al máximo el tiempo y los recursos disponibles son dos factores decisivos.</p>
                    <p>
                        La compañía buscaba un outsourcing de todas sus infraestructuras informáticas y mejorar su nivel de ciberseguridad. Su objetivo era centrar los recursos internos de su organización en aquellos procesos que aportan más valor al negocio..
                    </p>
                    <p class="uk-text-large">
                        Gracias a los servicios de Housing la empresa migro todas sus aplicaciones a Telefonico, aplicando los productos de Seguridad Digital consiguierón reducir los pagos fraudulentos.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

