
<section class="uk-section uk-section-default">
    <div class="uk-container">



        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="images/encontrar.png" alt="" uk-cover>

            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Consigue que tus clientes te encuentren</p>
                    <p class="uk-text-large">8 de cada 10 negocios muestran datos incorrectos en Internet. Autónomos, Profesionales y Empresas necesitan controlar su presencia online y destacar sobre la competencia. Tu marca y tu negocio deben ser visibles en Google y otros buscadores de Internet, redes sociales y mapas para llegar a más clientes potenciales.
                        El consumo online se acelera. El proceso de compra empieza consultando información de tu negocio en Internet..</p>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-rigth uk-cover-container">
                <img src="images/aumento.png" alt="" uk-cover>

            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Incrementa las ventas de tu negocio</p>
                    <p class="uk-text-large">Tu página web es tu carta de presentación, la primera impresión de tu marca y la llave para ganar la confianza de los clientes. Un escaparate abierto las 24 horas para comunicar tus productos y novedades y llegar a nuevos clientes.
                        El futuro digital es una realidad. El comercio electrónico creció un 25% en 2019 en España frente al 2,4% del comercio.</p>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="images/sociales.png" alt="" uk-cover>
            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Conecta con tus clientes</p>
                    <p class="uk-text-large">Las redes sociales permiten a las empresas crear una relación directa con sus clientes, comunicar sus novedades de manera rápida y sencilla. Conocer las opiniones sobre tu negocio y gestionar las críticas es importante; escuchar a tus clientes y conectar con ellos es (casi) tener clientes.
                        Las redes sociales son la principal fuente de reputación de las empresas y definen los hábitos de los consumidores.</p>
                </div>
            </div>
        </div>



        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold">Servicios Profesionales</h3>
                    <ul uk-accordion="collapsible: false">
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Housing</a>
                            <div class="uk-accordion-content">
                                <p>El Housing es la solución que permite a los clientes alojar sus sistemas de información e infraestructuras críticas en Centros de Datos Profesionales.</p>
                                <p>
                                    Salida a Internet redundada y protegida: Con anchos de banda simétricos a partir de 100Mbps y hasta 10Gbps
                                </p>
                                <p>
                                    Servicios profesionales de administración: Manos remotas y servicios profesionales de administración delegada.
                                </p>
                                <p>
                                    Calidad de Servicio: Le proporcionamos a su empresa una solución de Housing que le garantiza una alta disponibilidad, seguridad y calidad del servicio.
                                </p>
                                <p><b class="uk-text-meta">99,99€/mes</b></p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Centralita One Net</a>
                            <div class="uk-accordion-content">
                                <p>Centralita virtual que combina la voz fija y móvil de tu empresa en cualquier dispositivo</p>
                                <p>
                                    Cola de llamadas: Distribución inteligente de llamadas simultáneas a un número de cabecera, con distintos algoritmos de enrutamiento, y traspaso al agente/comercial  con una cola de llamadas para su posterior atención y distribución. También disponible Grupo de extensiones sin cola.
                                    Presentación número cabecera: muestra el mismo número común para un grupo de líneas al realizar llamadas.
                                    Tu fijo en el móvil: asignación de numeración geográfica a una línea móvil para gestión de llamadas entrantes en ese número.
                                </p>
                                <p><b class="uk-text-meta">9,99€/mes</b></p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">G Suite Business</a>
                            <div class="uk-accordion-content">
                                <p>Trabaja de forma más eficiente en la nube con el paquete completo de Google Business.</p>
                                <p>Dirección de e-mail corporativa.
                                    Vídeo y llamadas de voz.
                                    Almacenamiento ilimitado.
                                    Calendario corporativo incluido.
                                    Paquete de ofimática para editar documentos, hojas excel y presentaciones.
                                    Intranets corporativas.
                                </p>
                                <p><b class="uk-text-meta">9,99€/mes</b> por licencia</p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Seguridad Digital</a>
                            <div class="uk-accordion-content">
                                <p>Con el antivirus más potente, recuperación de datos, escáner de vulnerabilidades y técnico especializado, entre otros.</p>
                                <p>Un técnico especializado configurará todos los equipos e instalará las herramientas del servicio.
                                    Soporte técnico 24/7: asistencia experta inmediata e ilimitada con soporte multidispositivo.
                                    Suite de seguridad: el antivirus y antiransomware más potente del mercado.
                                    Análisis de vulnerabilidades: escáner de vulnerabilidades en sistemas locales del cliente.
                                    Ciber-riesgo web: inspección remota de las vulnerabilidades web más importantes con auditorías programadas y planes de contingencia.
                                    Recuperación de datos: backup de seguridad de cualquier plataforma de la nube. </p>
                                <p><b class="uk-text-meta">9,99€/mes</b> por licencia</p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Office 365</a>
                            <div class="uk-accordion-content">
                                <p>Soluciones integradas para entornos colaborativos que facilitan el trabajo en equipo , dotándoles de movilidad y siempre asegurando el control, la integridad y la disponibilidad de la información..</p>
                                <p>Office 365 es un servicio de suscripción en la nube que reúne las mejores aplicaciones de su categoría como Word, Excel, Access, Outlook y Power Point con  los que además podrá utilizar servicios de gran utilidad como OneDrive, OneNote SharePoint y Teams desde cualquier dispositivo.</p>
                                <p><b class="uk-text-meta">9,99€/mes</b> por licencia</p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Dominio</a>
                            <div class="uk-accordion-content">
                                <p>Los servicios de dominio incluyen tanto el registro del dominio a nombre del cliente y su renovación, como su alojamiento en nuestros servidores.</p>
                                <p><b class="uk-text-meta">1,99€/mes</b> por licencia</p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>






        <div class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Pack Inicio</h3>
                        <p><b>Presencia Digital</b> Tu negocio en +50 plataformas digitales: Google, Facebook, Instagram, Páginas Amarillas, directorios, mapas...</p>
                        <p><b>Página Web</b> Solución digital para mostrar tu catálogo de productos.</p>
                        <p><b class="uk-text-lead">9,99€/mes</b></p>
                        <button class="uk-button uk-width-1-1 uk-button-primary">Contratar</button>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/light.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Pack Avanzado</h3>
                            <p><b>Presencia Digital</b> Tu negocio en +50 plataformas digitales: Google, Facebook, Instagram, Páginas Amarillas, directorios, mapas...</p>
                            <p><b>Página Web + SEO</b> Solución digital para mostrar tu catálogo de productos.</p>
                            <p><b>Campañas web</b> Acciona campañas online con Google Ads y Facebook Ads y atrae a más clientes a tu negocio.</p>
                            <p><b class="uk-text-lead">99,99€/mes</b></p>
                            <button class="uk-button uk-width-1-1 uk-button-primary">Contratar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Pack Profesional</h3>
                        <p><b>Presencia Digital</b> Tu negocio en +50 plataformas digitales: Google, Facebook, Instagram, Páginas Amarillas, directorios, mapas...</p>
                        <p><b>Página Web + SEO</b> Solución digital para mostrar tu catálogo de productos.</p>
                        <p><b>Campañas web</b> Acciona campañas online con Google Ads y Facebook Ads y atrae a más clientes a tu negocio.</p>
                        <p><b>Community Manager</b> Diseño de estrategia y optimización de redes sociales.</p>
                        <p><b class="uk-text-lead">149,99€/mes</b></p>
                        <button class="uk-button uk-width-1-1 uk-button-primary">Contratar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

