
<section class="uk-section uk-section-default">

    <div class="uk-container">
        <div class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/fijo.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-lead"><b>Líneas fijas</b></h3>
                        <p>Teléfono fijo, número y dispositivo</p>
                        <div class="uk-margin">
                            <input class="uk-input uk-form-width-medium uk-form-large" type="number" placeholder="Large" value="1">
                        </div>
                        <p><b class="uk-text-lead">3,99€/mes</b></p>
                        <button class="uk-button uk-width-1-1 uk-button-primary">Añadir</button>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/movil.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-lead"><b>Líneas móviles</b></h3>
                            <p>Teléfonos móviles, línea y teléfono móvil básico</p>
                            <div class="uk-margin">
                                <input class="uk-input uk-form-width-medium uk-form-large" type="number" placeholder="Large" value="1">
                            </div>
                            <p><b class="uk-text-lead">9,99€/mes</b></p>
                            <button class="uk-button uk-width-1-1 uk-button-primary">Añadir</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/router.png" alt="">
                    </div>
                    <div class="uk-card-body" height="400">
                        <h3 class="uk-card-title uk-text-lead"><b>Centralita</b></h3>
                        <p>Centralita virtual o física</p>
                        <p><b class="uk-text-lead">9,99€/mes</b></p>
                        <button class="uk-button uk-width-1-1 uk-button-primary">Añadir</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold">Servicios para PYMES</h3>
                    <ul uk-accordion="collapsible: false">
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Pack Fútbol Total</a>
                            <div class="uk-accordion-content">
                                <p>Todo el Fútbol <br>
                                    LaLiga Santander <br>
                                    Laliga Smartbank <br>
                                    Champions League <br>
                                    LaEuropa League <br>
                                    Ligas Internacionales</p>
                                <b class="uk-text-meta">99,99€/mes</b></p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Correo de Google Profesional</a>
                            <div class="uk-accordion-content">
                                <p>Trabaja de forma más eficiente en la nube con el paquete completo de Google Business.</p>
                                <p>Dirección de e-mail corporativa.
                                    Vídeo y llamadas de voz.
                                    Almacenamiento ilimitado.
                                    Calendario corporativo incluido.
                                    Paquete de ofimática para editar documentos, hojas excel y presentaciones.
                                    Intranets corporativas.
                                </p>
                                <p><b class="uk-text-meta">9,99€/mes</b> por licencia</p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Páginas Web</a>
                            <div class="uk-accordion-content">
                                <p>Los servicios de dominio incluyen tanto el registro del dominio a nombre del cliente y su renovación, como su alojamiento en nuestros servidores.</p>
                                <p><b class="uk-text-meta">1,99€/mes</b> por licencia</p>
                                <button class="uk-button uk-button-primary">Contratar</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

