
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                <img src="images/todomoto.png" alt="" uk-cover>
            </div>
            <div class="uk-width-2-3">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Casos de éxito en Empresas</p>
                    <p class="uk-text-large">
                        Grupo TodoMoto tiene varias sedes en diferentes provincias conectadas de manera simultánea, fiable y segura a través de la Centralita Virtual. Además sus empleados se comunican en movilidad a través de llamadas internas y de un servicio de mensajería instantánea, incluido en la solución de Office 365, con la que además, trabajan de manera colaborativa en la nube.
                    </p>
                    <p class="uk-text-large">
                        <a href="">Sigue explorando en Telefonico otras empresas que han tenido éxito usando nuestros productos</a>
                    </p>
                </div>
            </div>
        </div>


        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold">Servicios para empresas y Hogares</h3>
                    <ul uk-accordion="collapsible: false">
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Casos de éxito</a>
                            <div class="uk-accordion-content">
                                <ul>
                                    <li><a href="/e_exito">Todomoto: Distribución y venta oficial de motos de alta gama</a></li>
                                    <li><a href="/e_exito">Agilidad y fiabilidad en las comunicaciones</a></li>
                                    <li><a href="/e_exito">Norbolsa, claro ejemplo de éxito en el outsourcing de sus infraestructuras informáticas.</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Servicios para Empresas</a>
                            <div class="uk-accordion-content">
                                <ul>
                                    <li><a href="/e_grandes">Housing</a></li>
                                    <li><a href="/e_grandes">Centralita One Net</a></li>
                                    <li><a href="/e_grandes">G Suite Business.</a></li>
                                    <li><a href="/e_grandes">Otros...</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Packs para grandes Empresas</a>
                            <div class="uk-accordion-content">
                                <ul>
                                    <li><a href="/e_grandes">Pack Inicio por <b>9,99€/mes</b></a></li>
                                    <li><a href="/e_grandes">Pack Avanzado por <b>99,99€/mes</b></a></li>
                                    <li><a href="/e_grandes">Pack Profesional por <b>149,99€/mes</b></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Familias</a>
                            <div class="uk-accordion-content">
                                <ul>
                                    <li><a href="/e_grandes"><b>Pack 1 </b>47,50€/mes</a></li>
                                    <li><a href="/e_grandes"><b>Pack 2 </b>55,50€/mes</a></li>
                                    <li><a href="/e_grandes"><b>Pack 3 </b>62,50€/mes</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Bares </a>
                            <div class="uk-accordion-content">
                                <ul>
                                    <li><a href="/e_bares"><b>Pack Fútbol Total </b>99,99€/mes</a></li>
                                    <li><a href="/e_bares"><b>Pack Deporte </b>119,99€/mes</a></li>
                                    <li><a href="/e_bares"><b>Pack Cine y Series </b>149,99€/mes</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="uk-card-body">
                        <form class="uk-search uk-search-default uk-width-1-1">
                            <span uk-search-icon></span>
                            <input class="uk-search-input uk-width-1-1" type="search" placeholder="¿No encuentras lo que buscas? prueba aquí">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

