
<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/fijo.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Fibra</p>
                            <p class="uk-text-large">
                                Incluye router y línea de teléfono fijo, con llamadas incluidas a fijos y móviles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <p class="uk-text-lead uk-text-bold uk-text-center">Configura tu pack</p>
                        <p class="uk-text-large">
                        <ul class="uk-list uk-list-divider uk-text-large">
                            <li><b>Fibra 100Mbps - 1200Mbps simétricos</b></li>
                            <li>Rounter incluido en el precio</li>
                            <li>Tarifas sin permanencia</li>
                        </ul>
                        </p>

                        <p class="uk-text-large">21,99€/mes - 99.99€/mes</p>
                        <a href="/f_configurar" class="uk-button uk-button-primary uk-margin-bottom">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2">
                <div class="uk-card uk-card-primary uk-grid-collapse uk-margin">
                    <div class="uk-card-body">
                        <p class="uk-text-lead uk-text-bold uk-text-center">Fibra 100</p>
                        <p class="uk-text-large">
                            <ul class="uk-list uk-list-divider uk-text-large">
                                <li><b>Fibra 100Mbps simétricos</b></li>
                                <li>Rounter incluido en el precio</li>
                                <li>1 año de permanencia</li>
                            </ul>
                        </p>
                        <p class="uk-text-large">21.99€/mes</p>
                        <a class="uk-button uk-button-primary uk-margin-bottom">Contratar</a>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <p class="uk-text-lead uk-text-bold uk-text-center">Fibra 300</p>
                        <p class="uk-text-large">
                        <ul class="uk-list uk-list-divider uk-text-large">
                            <li><b>Fibra 300Mbps simétricos</b></li>
                            <li>Rounter incluido en el precio</li>
                            <li>1 año de permanencia</li>
                        </ul>
                        </p>
                        <p class="uk-text-large">32.00€/mes</p>
                        <a href="/f_300" class="uk-button uk-button-primary uk-margin-bottom">Ver detalles</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <p class="uk-text-lead uk-text-bold uk-text-center">Fibra 600</p>
                        <p class="uk-text-large">
                        <ul class="uk-list uk-list-divider uk-text-large">
                            <li><b>Fibra 600Mbps simétricos</b></li>
                            <li>Rounter incluido en el precio</li>
                            <li>1 año de permanencia</li>
                        </ul>
                        </p>

                        <p class="uk-text-large"> 48.99€/mes </p>
                        <a href="/f_600" class="uk-button uk-button-primary uk-margin-bottom">Ver detalles</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

