
<section class="uk-section uk-section-default">

    <div class="uk-container">

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                <img src="images/configurar.png" alt="" uk-cover>

            </div>
            <div class="uk-width-2-3">
                <div class="uk-card-body">
                    <p class="uk-text-large">
                        Puedes utilizar el configurador de tarifas para crear tu propia tarifa. Utilizalo si no encuentras ninguna tarifa que se ajuste a tus necesidades .
                        Las tarifas generadas por este configurador son unicamente para particulares. Sí necesitas una tarifa para una empresa accede seleccionala desde la sección Empresas.
                        Las tarifas personalizadas son más caras que las tarifas estándar, siempre recomendamos consultar primero las tarifas estándar.
                    </p>
                </div>
            </div>
        </div>


        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-card-media-rigth uk-cover-container uk-width-1-3">
                <img src="images/precio.png" alt="" uk-cover>

            </div>
            <div class="uk-width-2-3">
                <div class="uk-card-body">
                    <p class="uk-text-large">
                        Lista de precios.
                    <ul>
                        <li>Líneas fijas: 4.99€ por la primera línea + 2.99€ por línea adicional</li>
                        <li>Líneas móviles: 17.99€ por línea, cada líne adicional tiene un descuento acumulado de 2€ hasta un precio minimo de 9.99€</li>
                        <li>Líneas móviles 5G: 25.99€ por línea, cada líne adicional tiene un descuento acumulado de 4€ hasta un precio minimo de 9.99€</li>
                        <li>Fibra: 100Mbps por 21.99, 300Mbps por 32.00€, 600Mbps por 48.99€, 800Mbps por 55.39€, 1200Mbps por 99.99€</li>
                        <li>Packs TV: TV+ es obligatorio para poder incluir otros servicios 5,99€/mes, incluye un pack básico de regalo. Packs basicos individuales 3.99€ , Pack Deporte, Cine y Series 149,99€, Pack Futbol Total 99.99€, Pack Deporte 119,99€, Netflix, HBO y Amazon Prime 5.99€ cada uno</li>
                        <li>Decodificadores: 32.50€ precio de venta no es una cuota mensual </li>
                        <li>Smartphones: <b>Precio real del dispositivo</b> </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/fijo.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-lead"><b>Líneas fijas</b></h3>
                        <p class="uk-text-lead">Teléfono fijo, número y dispositivo</p>
                        <div class="uk-margin">
                            <div class="uk-form-label uk-text-lead">Número de líneas fijas</div>
                            <div class="uk-form-controls">
                                <label><input class="uk-radio" type="radio" name="lineas" checked> 1 línea</label><br>
                                <label><input class="uk-radio" type="radio" name="lineas"> 2 líneas</label><br>
                                <label><input class="uk-radio" type="radio" name="lineas"> 3 líneas</label><br>
                                <label><input class="uk-radio" type="radio" name="lineas"> No incluir</label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/antena.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-lead"><b>Líneas móviles</b></h3>
                            <p class="uk-text-lead">Línea de teléfono móvil (sin Smartphone) con datos ilimitados</p>
                            <div class="uk-margin">
                                <div class="uk-form-label uk-text-lead">Número de líneas móviles</div>
                                <div class="uk-form-controls">
                                    <label><input class="uk-radio" type="radio" name="movil" checked> 1 línea</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> 2 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> 3 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> 4 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> 5 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> 6 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> 7 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> 8 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="movil"> No incluir</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/lineaMovil.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-lead"><b>Líneas móviles</b></h3>
                            <p class="uk-text-lead">Línea de teléfono móvil (sin Smartphone) con datos ilimitados y 5G</p>
                            <div class="uk-margin">
                                <div class="uk-form-label uk-text-lead">Número de líneas móviles</div>
                                <div class="uk-form-controls">
                                    <label><input class="uk-radio" type="radio" name="5g" checked> 1 línea</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> 2 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> 3 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> 4 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> 5 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> 6 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> 7 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> 8 líneas</label><br>
                                    <label><input class="uk-radio" type="radio" name="5g"> No incluir</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/fibra.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-lead"><b>Fibra</b></h3>
                            <p class="uk-text-lead">GB de Fibra en tu Internet</p>
                            <div class="uk-margin">
                                <div class="uk-form-label uk-text-lead">Cantidad de Mbps, en velocidad simétrica</div>
                                <div class="uk-form-controls">
                                    <label><input class="uk-radio" type="radio" name="Mbps" > 100 Mbps</label><br>
                                    <label><input class="uk-radio" type="radio" name="Mbps" checked> 300 Mbps </label><br>
                                    <label><input class="uk-radio" type="radio" name="Mbps"> 600 Mbps </label><br>
                                    <label><input class="uk-radio" type="radio" name="Mbps"> 800 Mbps </label><br>
                                    <label><input class="uk-radio" type="radio" name="Mbps"> 1200 Mbps </label><br>
                                    <label><input class="uk-radio" type="radio" name="Mbps"> No incluir</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/tv.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-lead"><b>TV</b></h3>
                            <p class="uk-text-lead">Canales y contenidos en tu servicio de TV y Streaming</p>
                            <div class="uk-margin">
                                <div class="uk-form-label uk-text-lead">Selecciona los packs que te interese incluir</div>
                                <div class="uk-form-controls">
                                    <label><input class="uk-checkbox" type="checkbox" name="tv" checked> TV+ (Obligatorio para poder incluir otros servicios) </label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv" checked> Pack Series (b)</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv" checked> Pack Cine (b)</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv"> Pack Deporte, Cine y Series</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv" checked> Pack Infantil (b)</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv"> Pack Futbol Total</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv" checked> Netflix</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv" > HBO</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv" checked> Amazon Prime</label><br>
                                    <label><input class="uk-checkbox" type="checkbox" name="tv"> Pack Deporte (Con Futbol)</label><br>
                                </div>
                                <div class="uk-form-label uk-text-lead">Decodificador, necesitaras tantos como TV diferentes quieras utilizar</div>
                                <div class="uk-form-controls">
                                    <label><input class="uk-radio" type="radio" name="deco"> 1 decodificador</label><br>
                                    <label><input class="uk-radio" type="radio" name="deco" checked> 2 decodificadores</label><br>
                                    <label><input class="uk-radio" type="radio" name="deco" > 3 decodificadores</label><br>
                                    <label><input class="uk-radio" type="radio" name="deco"> 4 decodificadores</label><br>
                                    <label><input class="uk-radio" type="radio" name="deco"> 5 decodificadores</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/movil.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-lead"><b>Smartphone</b></h3>
                            <p class="uk-text-lead">Selecciona los Smartphones que quieras incluir en tu tarifa</p>
                            <div class="uk-margin">
                                <div class="uk-form-label uk-text-lead ">Puedes incluir tantos como quieras</div>
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-default uk-margin-top">Buscar Smartphone 1 para incluir en tu tarifa</button><br>
                                    <button class="uk-button uk-button-default uk-margin-top">Buscar Smartphone 2 para incluir en tu tarifa</button><br>
                                    <button class="uk-button uk-button-default uk-margin-top">Buscar Smartphone 3 para incluir en tu tarifa</button><br>
                                    <button class="uk-button uk-button-default uk-margin-top">Buscar Smartphone 4 para incluir en tu tarifa</button><br>
                                    <button class="uk-button uk-button-default uk-margin-top">Buscar Smartphone 5 para incluir en tu tarifa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="uk-width-1-2 uk-align-center uk-padding uk-padding-remove-bottom" src="images/contrato.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-lead"><b>Precio Final</b></h3>
                            <p class="uk-text-lead">El precio final de la <b>tarifa</b> seleccionada es de 120€/mes</p>
                            <p class="uk-text-lead">Pago inicial de 210€ por la adquisición de dispositivos (smartphones y decodificadores). Permanencia de 1 año</p>
                            <button class="uk-button uk-button-primary uk-margin uk-width-1-1">Contratar tarifa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

