
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div class="uk-slider-container-offset" uk-slider="autoplay: true">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                        <li>
                            <div class="uk-card uk-grid-collapse " uk-grid>
                                <div class="uk-flex-last@s uk-width-2-3@s uk-card-media-right uk-cover-container">
                                    <img src="images/slider1.png"  alt="" uk-cover>
                                    <canvas width="600" height="300"></canvas>
                                </div>
                                <div class="uk-width-1-3@s">
                                    <div class="uk-card-body uk-text-lead">
                                        <p style="color: #000000;">Disfruta de <span class="uk-text-bold">2 líneas móviles + 300Mbps de fibra </span> óptica por solo <span class="uk-text-bold">26,99€/mes</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-grid-collapse " uk-grid>
                                <div class="uk-flex-last@s uk-width-2-3@s uk-card-media-right uk-cover-container">
                                    <img src="images/slider2.png" alt="" uk-cover>
                                    <canvas width="600" height="300"></canvas>
                                </div>
                                <div class="uk-width-1-3@s">
                                    <div class="uk-card-body uk-text-lead">
                                        <p class="uk-card-title uk-text-bold" style="color: #000000;">¿Por qué Telefonico?</p>
                                        <p style="color: #000000;">Tecnología 5G ilimitada</p>
                                        <p style="color: #000000;">La mejor cobertura de Red</p>
                                        <p style="color: #000000;">Televisión LG de regalo</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>

    </div>
</section>
