
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div class="uk-slider-container-offset" uk-slider="autoplay: true">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                        <li>
                            <div class="uk-card uk-grid-collapse " uk-grid>
                                <div class="uk-flex-last@s uk-width-2-3@s uk-card-media-right uk-cover-container">
                                    <img src="images/slider1.png"  alt="" uk-cover>
                                    <canvas width="600" height="300"></canvas>
                                </div>
                                <div class="uk-width-1-3@s">
                                    <div class="uk-card-body uk-text-lead">
                                        <p style="color: #000000;">Disfruta de <span class="uk-text-bold">2 líneas móviles + 300Mbps de fibra </span> óptica por solo <span class="uk-text-bold">26,99€/mes</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-grid-collapse " uk-grid>
                                <div class="uk-flex-last@s uk-width-2-3@s uk-card-media-right uk-cover-container">
                                    <img src="images/slider2.png" alt="" uk-cover>
                                    <canvas width="600" height="300"></canvas>
                                </div>
                                <div class="uk-width-1-3@s">
                                    <div class="uk-card-body uk-text-lead">
                                        <p class="uk-card-title uk-text-bold" style="color: #000000;">¿Por qué Telefonico?</p>
                                        <p style="color: #000000;">Tecnología 5G ilimitada</p>
                                        <p style="color: #000000;">La mejor cobertura de Red</p>
                                        <p style="color: #000000;">Televisión LG de regalo</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>

    </div>
</section>

<section class="uk-section uk-section-primary uk-light">
    <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-padding uk-padding-remove-top uk-padding-remove-bottom" >

            <ul class="uk-slider-items
                        uk-child-width-1-4@m
                        uk-child-width-1-6@l">
                <li>
                    <a href="/e_familias">
                        <img src="images/familiares.png" width="64" height="64" class="invertir-color">
                        <span class="uk-margin-small-left">Familiares</span>
                    </a>
                </li>
                <li>
                    <a href="/mi_tiendas">
                        <img src="images/tiendas.png" width="64" height="64" class="invertir-color">
                        <span class="uk-margin-small-left">Tiendas</span>
                    </a>
                </li>
                <li>
                    <a href="/packs">
                        <img src="images/packs.png" width="64" height="64" class="invertir-color">
                        <span class="uk-margin-small-left">Packs</span>
                    </a>
                </li>
                <li>
                    <a href="/fibra">
                        <img src="images/internet.png" width="64" height="64" class="invertir-color">
                        <span class="uk-margin-small-left">Internet</span>
                    </a>
                </li>
                <li>
                    <a href="/m_gb">
                        <img src="images/gbadicionales.png" width="64" height="64" class="invertir-color">
                        <span class="uk-margin-small-left">GB adicionales</span>
                    </a>
                </li>
                <li>
                    <a href="/tv_1">
                        <img src="images/entretenimiento.png" width="64" height="64" class="invertir-color">
                        <span class="uk-margin-small-left">Entretenimiento</span>
                    </a>
                </li>

            </ul>
        </div>



    </div>
</section>


<section class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>

            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="images/cap1.png" alt="" uk-cover>
                </div>
                <div>
                    <div class="uk-card-body ">
                        <p class="uk-card-title uk-text-lead">Llévate las series y pelis del momento</p>
                        <p><a href="/tv">Ver oferta</a></p>
                    </div>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="images/cap2.png" alt="" uk-cover>
                </div>
                <div>
                    <div class="uk-card-body ">
                        <p class="uk-card-title uk-text-lead">TV + Fibra + Movíl</p>
                        <p><a href="/packs">Ver oferta</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="images/fotofinal.png" alt="" uk-cover>

            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Con Telefonico One tendrás acceso a las mejores ofertas de tarifas de fibra y móvil!</p>
                    <p class="uk-text-large">Habla, navega o disfruta de vídeos en streaming sin ataduras y a la máxima velocidad con nuestras tarifas de datos ilimitados. Con la instalación de nuestro modem, gratuita y rápida, podrás conectar varios dispositivos al mismo tiempo. </p>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-card-body uk-width-1-1@s" uk-grid>
                <div class="uk-width-1-1@s">
                    <p class="uk-card-title uk-text-bold">Lo más buscado</p>
                </div>
                <div class="uk-width-1-3@s">
                    <h4>Profesionales</h4>
                    <ul class="uk-list uk-list-disc">
                        <li><a href="/e_bares">Bares y resturantes</a></li>
                        <li><a href="/e_pequenas">Pequeñas empresas</a></li>
                        <li><a href="/e_grandes">Negocios</a></li>
                    </ul>
                </div>

                <div class="uk-width-1-3@s">
                    <h4>Herramientas</h4>
                    <ul class="uk-list uk-list-circle">
                        <li><a href="/h_velocidad">Test de velocidad</a></li>
                        <li><a href="/mi_tiendas">Cerca de mí</a></li>
                        <li><a href="/f_100">Solo fibra</a></li>
                    </ul>
                </div>

                <div class="uk-width-1-3@s">
                    <h4>Smartphones</h4>
                    <ul class="uk-list uk-list-square">
                        <li><a href="/s_samsung">Samsung</a></li>
                        <li><a href="/m_medio">Trarifa Móvil médio</a></li>
                        <li><a href="/m_gb">Móvil GB adicionales</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-4">
                <img src="images/buscar.png"  alt="" uk-cover>
            </div>
            <div class="uk-width-3-4">
                <div class="uk-card-body ">
                    <p class="uk-card-title uk-text-bold">¿No encuentras lo que buscas?</p>
                    <form class="uk-search uk-search-large">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Busca en el sitio...">
                    </form>
                </div>
            </div>
        </div>


        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold">Preguntas frecuentes</h3>
                    <ul uk-accordion="collapsible: true">
                        <li>
                            <a class="uk-accordion-title" href="#">Segunda televisión</a>
                            <div class="uk-accordion-content">
                                <p>Para utilizar el servicio de TV es necesario utilizar un decodificador en cada televisión. Puede solicitar un decodificador adicional por un coste adicional de 30€.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Recepció de pedidos</a>
                            <div class="uk-accordion-content">
                                <p>Todos los envios de smartphones, routers y decodificadores pueden ser enviados a la casa del cliente o a una tienda de su elección.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">¿Cuánto tarda la instalación?</a>
                            <div class="uk-accordion-content">
                                <p>La instalación del servicio de fibra tarda menos de 72h desde la aprobación de la solicitud por parte de la empresa.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

