
<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/llamadamovil.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Líneas de teléfono móvil adicionales</p>
                            <p class="uk-text-large">
                                Sí dispones de una línea móvil puedes adquirir líneas adicionales con un descuento sobre su precio original.
                                También puedes adquirir Smartphones a través de nuestra tienda virtual.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-4"></div>

            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <p class="uk-text-lead uk-text-bold uk-text-center">Móvil Avanzado</p>
                        <p class="uk-text-large">
                        <ul class="uk-list uk-list-divider uk-text-large">
                            <li>Datos ilimitados</li>
                            <li>Llamadas a fijos y móviles ilimitadas</li>
                            <li>Velocidad máxima y 5G</li>
                            <li>SMS: ilimitados</li>
                            <li>Roaming Unión Europea y Reino Unido</li>
                            <li>Roaming en Estados Unidos</li>
                            <li>1 año de permanencia</li>
                        </ul>
                        </p>

                        <p class="uk-text-large"> 25,99€/mes </p>
                        <a class="uk-button uk-button-primary uk-margin-bottom">Contratar</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-4"></div>

        </div>
    </div>
</section>

