
<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-3-4">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/pack.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Contratalo todo desde la Web</p>
                            <p class="uk-text-large">
                                Todos los productos pueden ser contratados desde la página web de forma totalmente Online.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-card-body">
                            <p class="uk-text-meta">
                                Infórmate gratis <br>
                                De 9 a 22h.<br>
                                Teléfono 900 410 672 <br>
                                info@telefonico.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1 uk-text-center">
                <span class="uk-text-lead ">Productos Destacados</span>
            </div>

            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img class="uk-align-center uk-width-1-2 uk-padding" src="images/contrataTodo.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-text-lead uk-text-bold uk-text-center">Fibra+TV+Móvil Medio <b>*46,99€</b></p>
                        <p class="uk-text-large">
                        <ul class="uk-list uk-list-divider uk-text-large">
                            <li>Fibra 600Mbps + teléfono fijo</li>
                            <li>Llamadas nacionales ilimitadas</li>
                            <li>1 Línea teléfono <a href="/m_medio">móvil medio</a></li>
                        <li><a href="/tv_1">TV+ </a>con <a href="/tv_series">Pack Series </a>, <a href="/tv_cine">Pack Cine </a>,<a href="/tv_netflix">Netflix</a> , <a href="/tv_suscripciones"> prime video</a></li>
                        <li><a href="/s_todos">1 Smartphone básico a elegir</a></li>
                        </ul>
                        </p>
                        <p class="uk-text-meta">76,99€/mes a partir del 3 mes
                            1 año de permanencia</p>
                        <a href="/p_pack_medio" class="uk-button uk-button-primary uk-margin-bottom">Consultar condiciones</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img class="uk-align-center uk-width-1-2 uk-padding" src="images/contrataMovil.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <p class="uk-text-lead uk-text-bold uk-text-center">Móvil Medio <b>17,99€</b></p>
                        <p class="uk-text-large">
                        <ul class="uk-list uk-list-divider uk-text-large">
                            <li>Datos ilimitados</li>
                            <li>Llamadas a fijos y móviles ilimitadas</li>
                            <li>SMS: ilimitados</li>
                            <li>Roaming Unión Europea y Reino Unido</li>
                            <li>1 año de permanencia</li>
                            <li><a href="/s_todos">Smartphone no incluido</a></li>
                        </ul>
                        </p>
                        <p class="uk-text-meta">1 año de permanencia</p>
                        <a href="/m_medio" class="uk-button uk-button-primary uk-margin-bottom">Consultar condiciones</a>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s " uk-grid>
                    <div>
                        <div class="uk-card-body">
                            <ul uk-accordion="collapsible: true">
                                <li>
                                    <a class="uk-accordion-title" href="#">Consulta tu cobertura</a>
                                    <div class="uk-accordion-content">
                                        <p>Durante el proceso de contratación podrás <a href="/f_cobertura">saber si la Fibra llega a tu casa introduciendo tu dirección</a>.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Haz tu compra Online</a>
                                    <div class="uk-accordion-content">
                                        <p>Una vez contratada la tarifa a través de la web, te enviaremos un email de confirmación con los próximos pasos que debes seguir.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Cita de instalación</a>
                                    <div class="uk-accordion-content">
                                        <p>Una vez contratado, un experto se pondrá en contacto contigo para concretar la fecha de la instalación que más te convenga.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">Día de instalación.</a>
                                    <div class="uk-accordion-content">
                                        <p>El técnico te llevará el router, los extensores de Super WiFi y el decodificador para que lo tengas todo listo.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

