
<section class="uk-section uk-section-default">
    <div class="uk-container">
        <div uk-grid>

            <div class="uk-width-1-1 uk-text-center uk-grid-margin uk-first-column">
                <span class="uk-text-large">Roaming: habla y navega en el extranjero</span>
            </div>

            <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                <div class="uk-width-3-5">
                    <div class="uk-card-body uk-text-large">
                        <p>Las tarifas de telefonía son diferentes cuando estamos en un país diferente a España. Los bonos de llamadas ilimitadas y los datos ilimitados no siempre se aplican cuando estamos fuera de nuestro país, ahi entra el Servicio de <b>roaming</b></p>
                        <p>El <b>roaming</b> afecta a la realización y recepción de llamadas, también a la navegación por internet móvil </p>
                    </div>
                </div>
                <div class="uk-card-media-left uk-cover-container uk-width-2-5">
                    <img src="images/roaming.png" class="uk-width-4-4" alt="">
                </div>
            </div>

            <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container uk-width-1-4">
                    <img src="images/europa.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
                </div>
                <div class="uk-width-3-4">
                    <div class="uk-card-body uk-text-large">
                        <p>Todas nuestras tarifas incluyen <b>roaming</b> gratuito en la Unión Europea. La tarifa Móvil Medio incluye <b>roaming</b> en el Reino Unido y la tarifa Móvil Avanzando en Estados Unidos </p>
                    </div>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container uk-width-1-4">
                    <img src="images/euro.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
                </div>
                <div class="uk-width-3-4 uk-text-large">
                    <div class="uk-card-body">
                        <p><b>Controla tu gasto</b>. Los clientes pueden activar y desactivar el servicio de <b>roaming</b> desde su Área T, también estabecer un límite de gasto menusal de roaming fuera de sus tarifas (en caso de que se encuentren en un país que no este incluido de forma gratuita en su tarifa) </p>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-4"></div>

            <div class="uk-width-1-2">
                <div class="uk-width-1-1 uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-width-3-4">
                        <div class="uk-card-body">
                            <p><b>Precios Roaming fuera de tarífa</b></p>
                            <p>Cada 500MB de Internet móvil son 6,05€ <br>
                                <span class="uk-text-meta">Se tarifica de 500 en 500</span>
                            </p>
                            <p>Recibir llamadas 1,82€/min + 1,21€ de establecimiento de llamada</p>
                            <p>Realizar llamadas 4,83€/min + 1,21€ de establecimiento de llamada</p>
                            <p>Enviar SMS 1,21€/SMS</p>
                            <p>Recibir SMS 0€</p>
                            <p>Enviar MMS 4,84€/MMS</p>
                            <p>Recibir MMS 0€</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-primary uk-grid-collapse uk-margin uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-first-column">
                        <div class="uk-card-body ">
                            <h2>¿Este país es parte de la Unión Europea?</h2>
                            <form class="uk-search uk-search-large">
                                <span uk-search-icon="" class="uk-icon uk-search-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="search-large"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg></span>
                                <input class="uk-search-input" type="search" placeholder="Busca país...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

