
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container uk-width-1-4">
                <img src="images/llamar.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
            </div>
            <div class="uk-width-3-4">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Llámamos para más información sobre Servicios o Productos</p>
                    <p class="uk-text-large">
                        900 410 773
                    </p>
                    <p>
                        Lunes a Viernes de 8:00 a 21:00<br>
                        Sabados de 8:00 a 16:00
                    </p>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-width-3-4">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Escribenos para cualquier consulta</p>
                    <p class="uk-text-large">
                        Puedes consultar información sobre el proceso de contratación, productos y servicios en cualquier momento utilizando nuestro correo electrónico
                    </p>
                    <p>
                        info@telefonico.com
                    </p>
                </div>
            </div>
            <div class="uk-card-media-left uk-cover-container uk-width-1-4">
                <img src="images/email.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container uk-width-1-4">
                <img src="images/tienda.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
            </div>
            <div class="uk-width-3-4">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Nuestras tiendas</p>
                    <p class="uk-text-large">
                        Puedes obtener información de nuestros productos o contratar servicios desde <b>nuestas tiendas</b>.
                    </p>
                    <p>
                        <a href="/mi_tiendas">Buscador de tiendas</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-width-3-4">
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Garantía y Soporte técnico</p>
                    <p class="uk-text-large">
                        Puedes consultar el Servicio de Garantía y Soporte técnico desde tu área privada como cliente, tabién utilizando el teléfono 900 410 777 (De uso exclusivo para clientes) o el email soporteclientes@telefonico.com
                    </p>
                </div>
            </div>
            <div class="uk-card-media-left uk-cover-container uk-width-1-4">
                <img src="images/reparar.png" class="uk-padding uk-align-center uk-width-3-4" alt="">
            </div>
        </div>


        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold">Preguntas frecuentes</h3>
                    <ul uk-accordion="collapsible: true">
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Mando a distancia</a>
                            <div class="uk-accordion-content">
                                <a href="/tv_mando">Consulta el funcionamiento del mando a distancia</a>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Replay</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Que ya no estés en casa no es sinónimo de que tengas que perderte tus programas, series o películas favoritas. Gracias a él esto no va a volver a ocurrir.
                                </p>
                                <p>
                                    Replay de Euskaltel es el servicio que ofrece la operadora vasca para que no te pierdas nada en la televisión. Te permite manejar el contenido, es decir que puedes parar, retroceder, avanzar o poner desde el principio la serie, película, programa o documental.
                                    Para acceder utiliza el mando pulsa el botón de <b>Opciones</b> y luego la opción <b>Replay</b>
                                    Puedes programar las grabaciones, por ejemplo si te vas de viaje el fin de semana puedes programar este servicio para que a cierta hora y un día concreto grabe el contenido y así tu puedas verlo cuando quieras.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Instalación</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Te lo instalamos en 72h después de la aprobación del contrato. Una vez contratada la tarifa a través de la web, te enviaremos un email de confirmación con los próximos pasos que debes seguir. Una vez contratado, un experto se pondrá en contacto contigo para concretar la fecha de la instalación que más te convenga. El técnico te llevará el decodificador para que lo tengas todo listo.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Garantia y devolución</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Todos los Smartphones y decodificadores disponen de 2 años de garántia. Es posible devolverlos durante los primeros dos meses, de forma gratuita.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Gonsulta tu cobertura</a>
                            <div class="uk-accordion-content">
                                Durante el proceso de contratación podrás saber si la Fibra llega a tu casa introduciendo tu dirección.
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title uk-text-bold" href="#">Haz tu compra Online</a>
                            <div class="uk-accordion-content">
                                Una vez contratada la tarifa a través de la web, te enviaremos un email de confirmación con los próximos pasos que debes seguir.
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="uk-card-body">
                        <form class="uk-search uk-search-default uk-width-1-1">
                            <span uk-search-icon></span>
                            <input class="uk-search-input uk-width-1-1" type="search" placeholder="¿No encuentras lo que buscas? prueba aquí">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

