
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="images/telefonico.png" alt="" uk-cover>
            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Nuestro proyecto</p>
                    <p class="uk-text-large">
                       Buscamos profesionales que nos ayuden a continuar con el liderazgo del Sector de las Telecomunicaciones
                    </p>
                    <ul>
                        <li>Flexibilidad. Impulsamos y facilitamos la co-responsabilidad y conciliación familiar, con diversas iniciativas que crean un entorno de trabajo flexible </li>
                        <li>Innovación. Somos un equipo de apasionados por la tecnología, la innovación y nuestros clientes, con ganas de redefinir la comunicación de las personas </li>
                        <li>Solidaridad. Apostamos por ser una compañía solidaria y que invierte en crear un futuro mejor para todos, en especial para las personas que lo tienen más difícil </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-rigth uk-cover-container">
                <img src="images/estudiantes.jpg" alt="" uk-cover>
            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Becas y prácticas</p>
                    <p class="uk-text-large">
                        Si acabas de finalizar tu formación, tenemos un programa de becas y prácticas. Completa tus datos en el siguiente formulario.
                    </p>
                    <button class="uk-button uk-button-default uk-margin-bottom">Enviar currículum</button>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="images/professional.jpg" alt="" uk-cover>

            </div>
            <div>
                <div class="uk-card-body">
                    <p class="uk-text-lead uk-text-bold">Profesionales IT con Experiencia</p>
                    <p class="uk-text-large">
                        ¿Tienes experiencia en el sector y crees que tu perfil encaja? No lo dudes, déjanos tu Currículum y si vemos que se ajusta a nuestras necesidades, nos pondremos en contacto contigo lo antes posible
                    </p>
                    <button class="uk-button uk-button-default uk-margin-bottom">Enviar currículum</button>
                </div>
            </div>
        </div>


        <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
            <div class="uk-card-media-rigth uk-cover-container uk-width-1-3">
                <img src="images/tienda2.jpg" alt="" uk-cover>
            </div>
            <div class="uk-width-2-3" >
                <div class="uk-card-body uk-width-1-1">
                    <p class="uk-text-lead uk-text-bold">Trabaja en nuestras tiendas</p>
                    <p class="uk-text-large">
                        Posiciones
                    </p>
                    <div class="uk-width-1-1" uk-grid>
                        <div class="uk-width-3-4">
                            Vendedor Pamplona Avenida Carlos III, 20
                        </div>
                        <div class="uk-width-1-4">
                            <button class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">Aplicar</button>
                        </div>
                    </div>
                    <div class="uk-width-1-1" uk-grid>
                        <div class="uk-width-3-4">
                            Vendedor Santa Cruz De Tenerife Calle Castillo, 64
                        </div>
                        <div class="uk-width-1-4">
                            <button class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">Aplicar</button>
                        </div>
                    </div>
                    <div class="uk-width-1-1" uk-grid>
                        <div class="uk-width-3-4">
                            Vendedor Pamplona Avenida Carlos III, 20
                        </div>
                        <div class="uk-width-1-4">
                            <button class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">Aplicar</button>
                        </div>
                    </div>
                    <div class="uk-width-1-1" uk-grid>
                        <div class="uk-width-3-4">
                            Gerente Madrid Calle Bravo Murillo, 212
                        </div>
                        <div class="uk-width-1-4">
                            <button class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">Aplicar</button>
                        </div>
                    </div>
                    <div class="uk-width-1-1" uk-grid>
                        <div class="uk-width-3-4">
                            Vendedor Madrid Calle Bravo Murillo, 212
                        </div>
                        <div class="uk-width-1-4">
                            <button class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">Aplicar</button>
                        </div>
                    </div>
                    <div class="uk-width-1-1" uk-grid>
                        <div class="uk-width-3-4">
                            Vendedor Santander Calle Calvo Sotelo, 14
                        </div>
                        <div class="uk-width-1-4">
                            <button class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">Aplicar</button>
                        </div>
                    </div>
                    <div class="uk-width-1-1" uk-grid>
                        <div class="uk-width-3-4">
                            Vendedor Vigo Avenida Gran Via, 11
                        </div>
                        <div class="uk-width-1-4">
                            <button class="uk-button uk-button-default uk-margin-bottom uk-width-1-1">Aplicar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

