<div class="tools-content">
    <h1>Móviles y más</h1>
    <div class="tools-container">
        <div class="tool">
            <img class="tool-img" src="/images/slider1.png" >
            <div class="tool-info-cont">
                <h2>Móviles</h2>
                <p>Consulte nuestro catálogo de <strong>dispositivos móviles</strong>: Apple, Samsung, Xiaomi y más modelos. Ofrecemos modelos tanto nuevos como <strong>seminuevos</strong> al <strong>mejor precio garantizado</strong></p>
                <button class="button">VER MÁS</button>
            </div>
        </div>
        <div class="tool">
            <img class="tool-img" src="/images/luz.jpg" >
            <div class="tool-info-cont">
                <h2>Objetos inteligentes</h2>
                <p>También ofrecemos otra serie de objetos inteligentes que le pueden ayudar en su día a día. En esta sección podrá ver los <strong>relojes, enchufes, luces,</strong> y otros dispositivos inteligentes ofrecidos por Telefónico</p>
                <button class="button">VER MÁS</button>
            </div>
        </div>
        <div class="tool">
            <img class="tool-img" src="/images/alarma.jpg" >
            <div class="tool-info-cont">
                <h2>Alarmas</h2>
                <p>Proteja su hogar con nuestro servicio de <strong>alarmas.</strong> Ofrecemos alarmas <strong>anti instrusión</strong> y de <strong>seguridad </strong> ocultas, con <strong>instalación y mantenimiento incluidos.</strong></p>
                <button class="button">VER MÁS</button>
            </div>
        </div>
    </div>

</div>