<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div class="uk-slider-container-offset" uk-slider="autoplay: true">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                        <li>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="images/enchufe.jpg" alt="" uk-cover>
                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Muvit iO Pack 2 enchufes inteligentes Wifi</h3>
                                        <p class="uk-text-large">24.95€</p>
                                        <p>Se conectan a través de la red Wi-Fi domestica.</p>
                                        <p>Encendido y apagado de los dispositivos conectados desde la aplicación móvil..</p>
                                        <p>Temporizador aleatorio: enciende y apaga dispositivos sin cumplir un mismo patrón..</p>
                                        <p>Horario verano / invierno: se puede establecer una configuración distinta según la época del año.</p>
                                        <ul uk-accordion="collapsible: true">
                                            <li>
                                                <a class="uk-accordion-title uk-text-success" >Especificación técnicas</a>
                                                <div class="uk-accordion-content">
                                                    <p>
                                                        Modo de comunicación: Wi-Fi 802.11 b / g / n (2.4 GHz)<br>
                                                        Humedad relacionada con el funcionamiento:> 80% RH<br>
                                                        Temperatura óptima de funcionamiento: 0 - 50ºC.<br>
                                                        Fuente de alimentación: 240 V CA.<br>
                                                        Corriente nominal: 16 A<br>
                                                        Compatibilidad: Android 4.0 / iOS 7.0 y superior<br>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="uk-button uk-width-1-1 uk-margin-bottom">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="images/enchufetp.jpg" alt="" uk-cover>
                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">TP-Link enchufe Wifi Cloud</h3>
                                        <p class="uk-text-large">16.95€</p>
                                        <p>Aleje a maleantes configurando sus luces para encenderse y apagarse en un horario específico para que parezca que está en casa, cuando en realidad no lo está..</p>
                                        <p>Controle dispositivos conectados al Enchufe Inteligente donde tenga Internet utilizando la app gratuita Kasa en su Smartphone.</p>
                                        <p>Con un aire moderno, el diseño de los Enchufes Inteligentes es tan simple como elegante, para combinarse sin problemas con la decoración existente.</p>
                                        <p>Compatible con asistentes de voz.</p>
                                        <ul uk-accordion="collapsible: true">
                                            <li>
                                                <a class="uk-accordion-title uk-text-success" >Especificación técnicas</a>
                                                <div class="uk-accordion-content">
                                                    <p>
                                                        Tipo de Wi-Fi: 2.4GHz, 1T1R <br>
                                                        Temperatura de Funcionamiento: 0 ºC ~ 40 ºC (32°F ~ 104°F) <br>
                                                        Humedad de Funcionamiento: 5%~90%RH, Sin condensación <br>
                                                        Voltaje de Entrada: 100 - 240VAC <br>
                                                        Carga Máxima: 16A <br>
                                                        Requisitos del Sistema: Android 4.1 o superior e iOS 8 o superior <br>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="uk-button uk-width-1-1 uk-margin-bottom">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="images/luz.jpg" alt="" uk-cover>
                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Enchufe Inteligente + 2 bombillas A60 E27 800lm</h3>
                                        <p class="uk-text-large">26.95€</p>
                                        <p>Ahorra energía y enlaza todos tus dispositivos en una sola aplicación, haciendo tu experiencia mucho más sencilla. Olvida por completo el tener que instalar muchas aplicaciones para distintos objetos inteligentes.</p>
                                        <p>Compatibles con asistentes de voz.</p>
                                        <p>Compatibles con aplicación App muvit iO Home para Android e iOS.</p>
                                        <ul uk-accordion="collapsible: true">
                                            <li>
                                                <a class="uk-accordion-title uk-text-success" >Especificación técnicas</a>
                                                <div class="uk-accordion-content">
                                                    <p>
                                                        Base: E27 (formato A60) <br>
                                                        Potencia: 806lm / 10W <br>
                                                        Temperatura: 2700K-6500K <br>
                                                        Ángulo haz de luz: 220º <br>
                                                        Dimensiones: Ø60*H118 <br>
                                                    </p>
                                                    <p>
                                                        Modo de comunicación: Wi-Fi 2.4 GHz<br>
                                                        Humedad relacionada con el funcionamiento:> 80% RH<br>
                                                        Temperatura óptima de funcionamiento: 0 - 50ºC.<br>
                                                        Fuente de alimentación: AC 100-240V<br>
                                                        Corriente nominal: 16 A<br>
                                                        Compatibilidad: Android 4.0 / iOS 7.0 y superior<br>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="uk-button uk-width-1-1 uk-margin-bottom">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="images/bombillap.jpg" alt="" uk-cover>
                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Bombilla LED GU10 RGBW PHILIPS Hue White Color 6W</h3>
                                        <p class="uk-text-large">58,35€</p>
                                        <p>La Bombilla LED GU10 RGBW PHILIPS Hue White Color 6W está fabricado por la prestigiosa marca holandesa PHILIPS.</p>
                                        <p>Permite controlar las luces incluso mediante voz, de tal forma que puedes hacer que te de la bienvenida. Por ejemplo podemos configurar mensajes como "Enciende las luces de Buenos días" "Enciende la luz de ver la Televisión".</p>
                                        <ul uk-accordion="collapsible: true">
                                            <li>
                                                <a class="uk-accordion-title uk-text-success" >Especificación técnicas</a>
                                                <div class="uk-accordion-content">
                                                    <p>
                                                        Casquillo: GU10 <br>
                                                        Potencia: 6W <br>
                                                        Temperatura de color: 2000K - 6500K <br>
                                                        Ángulo haz de luz: 230º <br>
                                                        Dimensiones: Ø50x58 mm<br>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="uk-button uk-width-1-1 uk-margin-bottom">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>


    </div>
</section>