
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
            <div class="uk-slider-container-offset" uk-slider="autoplay: true">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                        <li>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="images/oppo.png" alt="" uk-cover>
                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Oppo Watch Smartwatch 46mm - Negro</h3>
                                        <p class="uk-text-large">EUR 369.00</p>
                                        <p>Esfera: 46mm.</p>
                                        <p>Pantalla: 1.91" AMOLED display.</p>
                                        <p>Batería: Watch VOOC Flash Charging y duración de 21 días.</p>
                                        <p>Conectividad: BT+LTE.</p>
                                        <button class="uk-button uk-width-1-1 uk-margin-bottom">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="images/galaxywatch3.png" alt="" uk-cover>
                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Samsung Galaxy Watch 3 45mm</h3>
                                        <p class="uk-text-large">EUR 499.00</p>
                                        <p>Esfera: 45mm.</p>
                                        <p>Pantalla: 1.4in Super AMOLED 360 x 360.</p>
                                        <p>Almacenamiento 8.0GB</p>
                                        <p>Batería: Li-Ion 340.0mAh.</p>
                                        <p>Conectividad: 4G+.</p>
                                        <button class="uk-button uk-width-1-1 uk-margin-bottom">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="images/appleWatch.png" alt="" uk-cover>
                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Apple Watch Series 6 44mm</h3>
                                        <p class="uk-text-large">EUR 529.00.00</p>
                                        <p>Esfera: 44mm.</p>
                                        <p>Pantalla de retina siempre activa.</p>
                                        <p>El chip S6 SiP es hasta un 20 % más rápido que el del Series 5</p>
                                        <p>Diseño apto para nadar</p>
                                        <button class="uk-button uk-width-1-1 uk-margin-bottom">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>


    </div>
</section>

