<div class="pedidos-content">
    <div class="pedidos-left-panel">
        <h2>Área Cliente</h2>
        <a>Mi información</a>
        <a>Mis Notificaciones</a>
        <a>Mis Facturas</a>
        <a>Mis Productos Contratados</a>
        <a><strong>Mis Pedidos</strong></a>
        <a>Configuración Roaming</a>
    </div>
    <div class="pedidos-right-panel">
        <h2>Productos que has pedido</h2>
        <div class="pedido-card">
            <img class="pedido-img" src="images/10Tpro.png" >
            <h2>Xiaomi Max Pro</h2>
            <div class="info-pedido">
                <p><strong>Precio:</strong> 200€</p>
                <p><strong>Fecha de compra:</strong> 01/06/1995</p>
                <p><strong>Fecha de envío:</strong> 02/06/1995</p>
                <br>
                <p><strong>Estado:</strong> Sin entregar</p>
            </div>
        </div>
        <div class="pedido-card">
            <img class="pedido-img" src="images/10Tpro.png" >
            <h2>Xiaomi Max Pro</h2>
            <div class="info-pedido">
                <p><strong>Precio:</strong> 200€</p>
                <p><strong>Fecha de compra:</strong> 01/06/1995</p>
                <p><strong>Fecha de envío:</strong> 02/06/1995</p>
                <br>
                <p><strong>Estado:</strong> Sin entregar</p>
            </div>
        </div>
        <div class="pedido-card">
            <img class="pedido-img" src="images/10Tpro.png" >
            <h2>Xiaomi Max Pro</h2>
            <div class="info-pedido">
                <p><strong>Precio:</strong> 200€</p>
                <p><strong>Fecha de compra:</strong> 01/06/1995</p>
                <p><strong>Fecha de envío:</strong> 02/06/1995</p>
                <br>
                <p><strong>Estado:</strong> Sin entregar</p>
            </div>
        </div>
        <div class="pedido-card">
            <img class="pedido-img" src="images/10Tpro.png" >
            <h2>Xiaomi Max Pro</h2>
            <div class="info-pedido">
                <p><strong>Precio:</strong> 200€</p>
                <p><strong>Fecha de compra:</strong> 01/06/1995</p>
                <p><strong>Fecha de envío:</strong> 02/06/1995</p>
                <br>
                <p><strong>Estado:</strong> Sin entregar</p>
            </div>
        </div>
        <div class="pedido-card">
            <img class="pedido-img" src="images/10Tpro.png" >
            <h2>Xiaomi Max Pro</h2>
            <div class="info-pedido">
                <p><strong>Precio:</strong> 200€</p>
                <p><strong>Fecha de compra:</strong> 01/06/1995</p>
                <p><strong>Fecha de envío:</strong> 02/06/1995</p>
                <br>
                <p><strong>Estado:</strong> Sin entregar</p>
            </div>
        </div>
        <div class="pedido-card">
            <img class="pedido-img" src="images/10Tpro.png" >
            <h2>Xiaomi Max Pro</h2>
            <div class="info-pedido">
                <p><strong>Precio:</strong> 200€</p>
                <p><strong>Fecha de compra:</strong> 01/06/1995</p>
                <p><strong>Fecha de envío:</strong> 02/06/1995</p>
                <br>
                <p><strong>Estado:</strong> Sin entregar</p>
            </div>
        </div>

    </div>
</div>