<div class="content">
    <h1>Preguntas frecuentes</h1>
    <div class="preguntas-container">
       <div class="preguntas-filtro">
            <select name="tipo" id="tipo-combo">
                <option value="tipo" >Tipo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
          </select>
          <input type="text" id="fname" name="fname" placeholder="Buscar..."><br><br>
       </div>
       <h2>Resultados de la búsqueda</h2>
       <div class="preguntas-resultado">
            <div class="preguntas-seccion">
                <a><h3>Mando a distacia</h3></a>
                <a><img  src="images/icons/flecha.png" width="30" alt=""></a>
            </div> 
            <div class="preguntas-seccion">
                <a><h3>Consulta tu cobertura</h3></a>
                <a><img  src="images/icons/flecha.png" width="30" alt=""></a>
            </div> 
            <div class="preguntas-seccion">
                <a><h3>Instalación</h3></a>
                <a><img  src="images/icons/flecha.png" width="30" alt=""></a>
            </div> 
            <div class="preguntas-seccion">
                <a><h3>Garantía y devolución</h3></a>
                <a><img  src="images/icons/flecha.png" width="30" alt=""></a>
            </div> 
       </div>
       <h3>¿No encuentras lo que buscas? Accede al listado completo de <a>preguntas frecuentes</a></h3>
    </div>
    
</div>