<div class="productos-content">
    <div class="productos-left-panel">
        <h2>Área Cliente</h2>
        <a>Mi información</a>
        <a>Mis Notificaciones</a>
        <a>Mis Facturas</a>
        <a><strong>Mis Productos Contratados</strong></a>
        <a>Mis productos</a>
        <a>Configuración Roaming</a>
    </div>
    <div class="productos-right-panel">
        <h2>Productos que has contratado</h2>
        <div class="producto-card">
            <div class="producto-card-left">
                <h3>Fibra 1 GB + La Sinfín GB Infinitos (V5) </h3>
                <div class="product-details">
                    <div>
                        <p>984502855 + Internet</p>
                        <p>Internet: 1Gbps</p>
                        <p>Llamadas a fijos: Infinitas</p>
                        <p>LLamadas a móviles: 60 minutos</p>
                    </div>
                    <div>
                        <p>639256984</p>
                        <p>Llamadas: Infinitas</p>
                        <a>Ver bonos y consumo</a><br><br><br>
                        <a>Configurar Roaming</a>
                    </div>
                </div>
            </div>
            <div class="producto-card-right">
                <h3>79,00 €/mes </h3>
                <button class="button">Cambiar Tarifa</button>
                <button class="button">Cancelar Tarifa</button>
                
            </div>
        </div>
        <div class="producto-card">
            <div class="producto-card-left">
                <h3>Fibra 1 GB + La Sinfín GB Infinitos (V5) </h3>
                <div class="product-details">
                    <div>
                        <p>984502855 + Internet</p>
                        <p>Internet: 1Gbps</p>
                        <p>Llamadas a fijos: Infinitas</p>
                        <p>LLamadas a móviles: 60 minutos</p>
                    </div>
                    <div>
                        <p>639256984</p>
                        <p>Llamadas: Infinitas</p>
                        <a>Ver bonos y consumo</a><br><br><br>
                        <a>Configurar Roaming</a>
                    </div>
                </div>
            </div>
            <div class="producto-card-right">
                <h3>79,00 €/mes </h3>
                <button class="button">Cambiar Tarifa</button>
                <button class="button">Cancelar Tarifa</button>
                
            </div>
        </div>

    </div>
</div>