<div class="velocidad-content">
    <h1>Test de velocidad</h1>
    <div class="velocidad-card">
        <a href="/" class="internet-img"><img width="300" src="/images/internet.png" alt=""></a>
        <div class="velocidad-right-panel">
            <h2>Prueba tu conexión</h2>
            <div class="test-v-cont">
                <p>El test de velocidad más fiable para comprobar tu <strong>conexión</strong> y <strong>velocidad</strong> de internet</p>
                <p>Indicaciones:</p>
                <ul class="test-v">
                    <li>Te recomendamos usar Chrome o Firefox. Si usas Internet Explorer este tipo de test puede dar resultados no satisfactorios</li>
                    <li>Cierra todas las aplicaciones o programas que tengan conexión a internet</li>
                    <li>Se consigue más velocidad conectándose por cable directamente al router</li>
                </ul>
            </div>
            <button class="button">INICIAR EL TEST</button>
        </div>
    </div>
   
</div>
