<div class="tools-content">
    <h1>Herramientas</h1>
    <div class="tools-container">
        <div class="tool">
            <img class="tool-img" src="/images/speed-test.png" >
            <div class="tool-info-cont">
                <h2>Test de Velocidad Internet</h2>
                <p>Analice la velocidad de su línea de internet y compárela con nuestras tarifas de internet.</p>
                <button class="button">VER MÁS</button>
            </div>
        </div>
        <div class="tool">
            <img class="tool-img" src="/images/pack.jpg" >
            <div class="tool-info-cont">
                <h2>Configurador de packs</h2>
                <p>Cree sus packs de Internet, Móvil y TV personalizados y consulte el precio final con nuestro configurador de packs.</p>
                <button class="button">VER MÁS</button>
            </div>
        </div>
        <div class="tool">
            <img class="tool-img" src="/images/finder.jpg" >
            <div class="tool-info-cont">
                <h2>Buscador de tiendas</h2>
                <p>Encuentra la tienda más cercana, consulta su horario y disponibilidad para recibir pedidos.</p>
                <button class="button">VER MÁS</button>
            </div>
        </div>
    </div>
    
</div>