
<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/tvpack.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Tv+</p>
                            <p class="uk-text-large">
                                Incluye un decodificador 4k, posibilidad de grabar los programas, 19 canales de televisión (más canales de la TDT) y un pack básico
                            </p>
                            <p class="uk-text-large">Precio actual: 5,99€/mes. Es necesario disponer de conexión a Internet</p>
                            <button class="uk-button uk-button-primary uk-margin-bottom">Contratar ahora!</button>

                            <p class="uk-text-large">
                                Añade otros packs básicos adicionales
                            </p>
                            <button class="uk-button uk-button-default uk-margin-bottom">Añadir ahora </button>

                            <p class="uk-text-large">
                                Añade suscripciones a servicios de Streaming
                            </p>
                            <button class="uk-button uk-button-default uk-margin-bottom">Añadir ahora </button>

                            <p class="uk-text-large">
                                *Adquiere decodificadores adicionales, es necesario un decodificador por cada aparato de TV
                            </p>
                            <button class="uk-button uk-button-default uk-margin-bottom">Adquirir ahora </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-rigth uk-cover-container uk-width-2-3">
                        <img src="images/canales.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-1-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Canales incluidos</p>
                            <p>
                                19 canales de televisión exclusivos
                            </p>
                            <p>
                                Más todos los canales de la TDT
                            </p>
                            <p>
                                Más todos los canales de la TDT
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/instalacion.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Instalación</p>
                            <p class="uk-text-large">
                                Te lo instalamos en 72h después de la aprobación del contrato. Una vez contratada la tarifa a través de la web, te enviaremos un email de confirmación con los próximos pasos que debes seguir. Una vez contratado, un experto se pondrá en contacto contigo para concretar la fecha de la instalación que más te convenga. El técnico te llevará el decodificador para que lo tengas todo listo.
                            </p>
                         </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

