
<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/decodificador2.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Decodificador 4k</p>
                            <p class="uk-text-large">
                                El decodificador soporta <b>contenidos en 4k</b> , para poder activar esta función el usuario debe verificar que <b>su televisor reproduce contenido 4k</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-rigth uk-cover-container uk-width-2-3">
                        <img src="images/4k.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-1-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">4K</p>
                            <p>
                                La tecnología ha hecho que la resolución sea cuatro veces superior (4K) lo que junto al alto rango dinámico (o HDR) la calidad de la imagen sea mucho mejor, con mas tonos de blancos y negros y colores más naturales.
                            </p>
                            <p>
                                El vídeo 4K tiene una resolución de 3840×2160 píxeles, es decir, cuatro veces más que una imagen HD (1080p) y 16 veces más que un DVD.
                            </p>
                         </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-rigth uk-cover-container uk-width-2-3">
                        <img src="images/netflix4k.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-1-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Netflix 4k</p>
                            <p>
                                Netflix ha popularizado en nuestro país el vídeo en streaming y nos ofrece varias opciones de visualización. Lo que nos interesa obviamente son los contenidos disponibles en Netflix en 4K: disponemos ahora mismo de series como ‘Marco Polo’ y próximamente más títulos como ‘Daredevil’, ‘The Ridiculous 6’, ‘Una serie de desafortunadas desdichas’, además de películas, documentales, etcétera.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-rigth uk-cover-container uk-width-2-3">
                        <img src="images/amazon4k.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-1-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Amazon 4k</p>
                            <p>
                                Amazon Video ha sido la última en llegar pero nos presenta bastante contenido en 4K, varias decenas de películas como ‘Spiderman’, ‘The Hulk’ o ‘Misión Imposible 4’, entre otras muchas, además de series como ‘El gran Tour’ o ‘Mozar in the Jungle’, esta última en 4K HDR.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-rigth uk-cover-container uk-width-2-3">
                        <img src="images/4kultra.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-1-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Canales 4k</p>
                            <p>
                                Algunos canales disponibles en diferentes packs ofrecen contenido 4K. Odisea 4K, Slow 4K, Decasa 4K, Canal Cocina 4K, Insight 4K,Stingray Festival 4K, Funbox 4K
                            </p>
                            <p>
                                Lista no es demasiado extensa, pero es importante que estés al tanto ya que en cualquier momento otras cadenas pueden empezar a reproducir con esta resolución
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

