
<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/decodificador2.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Aplicaciones y juegos</p>
                            <p class="uk-text-large">
                                Es posible instalar una gran cantidad de aplicaciones y juegos en tu <b>decodificador 4k </b>
                            </p>
                            <p class="uk-text-large">
                                Instala las aplicaciones pulsando la tecla menú de tu mando y posteriormente accediendo a Telefonico App Store
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-slider-container-offset" uk-slider="autoplay: true">
                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                        <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                            <li>
                                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                                    <div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">Entretenimiento</h3>
                                            <p>Go music – para ver conciertos de música.</p>
                                            <p>SeguimosConectados – actividades lúdicas en familia.</p>
                                            <p>Telefonico Cloud – acceder a la aplicación en la nube para ver nuestras fotos.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                                    <div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">Conectividad</h3>
                                            <p>Prosegur Alarmas – consultar la mejor alarma para casa o negocio.</p>
                                            <p>Smart Wifi – controlar dispositivos conectados y optimizar la red WiFi.</p>
                                            <h3 class="uk-card-title">Deportes</h3>
                                            <p>Atlético de Madrid – información previa de partidos o impresiones de los jugadores.</p>
                                            <p>LaLiga – minuto a minuto de los partidos y más.</p>
                                         </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                                    <div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">Tienda Online</h3>
                                            <p>Telefonico Shop – oferta de dispositivos de Movistar.</p>
                                            <p>La Resistencia Fan Shop – comprar productos favoritos del programa.</p>
                                            <h3 class="uk-card-title">Viajes</h3>
                                            <p>AirEuropa – buscar vuelos, duración y fechas.</p>
                                            <p>Iberia – información de próximos destinos.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                                    <div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">Información y productividad</h3>
                                            <p>Shadow Weather – consulta el tiempo.</p>
                                            <p>Net Speed Indicator – estadísticas sobre el uso de Internet.</p>
                                            <p>Bing Wallpapers – fondos de pantalla.</p>
                                            <p>Note Voz – permite crear notas de voz y programar su repetición.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                                    <div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">Juegos</h3>
                                            <p>League of Legends: Wild Rift - es un juego de estrategia con batallas 5 vs 5.</p>
                                            <p>Genshin Impact -  RPG gratuita más avanzado, con mejores gráficos y jugabilidad pulida.</p>
                                            <p>GWENT: The Witcher Card Game - competiremos contra otros jugadores de todo el mundo, para acabar consiguiendo la baraja de cartas más poderosa.</p>
                                            <p>Sky: Niños de la Luz - debemos devolver las estrellas a sus correspondientes constelaciones..</p>
                                            <p>Legends of Runeterra - juego de cartas inspirado en el universo de LOL.</p>
                                            <p>Maze Machina - un pequeño mundo repleto de laberintos que habrá que completar para poder escapar .</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>
            </div>
        </div>


    </div>
</section>

