
<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/decodificador2.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Decodificador</p>
                            <p class="uk-text-large">
                                El pack TV + incluye un decodificador, es necesario uno por televisión. El precio de adquisión por cada decodificador adicional es de 32.50€ incluye instalación.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-rigth uk-cover-container uk-width-1-3">
                        <img src="images/data.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Características</p>
                            <p>
                                Permite reproducir los contenidos de telefonico
                            </p>
                            <p>
                                Mejora la experiencia de visualización de los contenidos de televisión y la calidad de imagen
                            </p>
                            <p>
                                Incluye el Mando Vocal
                            </p>
                            <p>
                                Requiere instalación profesional (Cableado o por WiFi)
                            </p>
                            <p>
                                Se conecta a la tevisión por HDMI y requiere una toma de corriente eléctrica
                            </p>
                            <p>
                                Reproduce los contenidos UHD/4K
                            </p>
                            <p>
                                Permite la ejecución de Living Apps
                            </p>
                            <p>
                                Audio: Dolby audio
                            </p>
                            <p>
                                Memoria RAM 2GB
                            </p>
                            <p>
                                Almacenamiento 2000GB
                            </p>
                            <p>
                                Dimensiones: 145 * 145 * 43 mm
                            </p>
                            <p>
                                Peso: 150 gr
                            </p>
                            <p>
                                Alinmentación eléctrica: 12 voltios y 1,5 amperios
                            </p>
                            <button class="uk-button uk-button-primary uk-margin-bottom">Adquirir ahora</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/instalacion.png" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Instalación</p>
                            <p class="uk-text-large">
                                Te lo instalamos en 72h después de la aprobación del contrato. Una vez contratada la tarifa a través de la web, te enviaremos un email de confirmación con los próximos pasos que debes seguir. Una vez contratado, un experto se pondrá en contacto contigo para concretar la fecha de la instalación que más te convenga. El técnico te llevará el decodificador para que lo tengas todo listo.
                            </p>
                         </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

