
<section class="uk-section uk-section-default">
    <div class="uk-container" >

        <div uk-grid>

            <div class="uk-width-1-1 uk-text-center">
                <span class="uk-text-lead ">Contenidos destacados</span>
            </div>

            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-top">
                        <img src="images/westworld.jpg" alt="">
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <p class="uk-text-large">
                                HBO
                            </p>
                            <p class="uk-text-large">
                                Juego de Tronos, Westworld, Big Little Lies...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-top">
                        <img src="images/papel.png" alt="">
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <p class="uk-text-large">
                                Netflix
                            </p>
                            <p class="uk-text-large">
                                Las chicas del cable, The Politician, La casa de papel, Élite, Ozark, Locke & key.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-card-media-top">
                        <img src="images/tom.jpg" alt="">
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <p class="uk-text-large">
                                prime video
                            </p>
                            <p class="uk-text-large">
                                The Man in the High Castle,The Marvelous Mrs. Maisel, Tom Clancy’s Jack Ryan
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/netflix.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">Netflix</p>
                            <p class="uk-text-large">
                                Disfruta del amplio catálogo de series y películas de Netflix en TV, y también en tus dispositivos móviles: Smartphone, Tablet y PC.
                            </p>
                            <p class="uk-text-large">5.99€/mes</p>
                            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-bottom">Añadir</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/primevideo.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">prime video</p>
                            <p class="uk-text-large">
                                Disfruta del amplio catálogo de series y películas de prime video en TV, y también en tus dispositivos móviles: Smartphone, Tablet y PC.
                            </p>
                            <p class="uk-text-large">5.99€/mes</p>
                            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-bottom">Añadir</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
                        <img src="images/hbo.jpg" alt="" uk-cover>

                    </div>
                    <div class="uk-width-2-3">
                        <div class="uk-card-body">
                            <p class="uk-text-lead uk-text-bold">HBO</p>
                            <p class="uk-text-large">
                                Disfruta del amplio catálogo de series y películas de HBO en TV, y también en tus dispositivos móviles: Smartphone, Tablet y PC.
                            </p>
                            <p class="uk-text-large">5.99€/mes</p>
                            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-bottom">Añadir</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                    <table class="uk-table uk-table-divider">
                        <thead>
                        <tr>
                            <th>HBO</th>
                            <th>Netflix</th>
                            <th>prime video</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Full HD</td>
                            <td>4K</td>
                            <td>4K</td>
                        </tr>
                        <tr>
                            <td>Más de 3.000 títulos</td>
                            <td>Más de 3.000 títulos</td>
                            <td>Más de 7.000 títulos</td>
                        </tr>
                        <tr>
                            <td>4 Dispositivos</td>
                            <td>4 Dispositivos</td>
                            <td>4 Dispositivos</td>
                        </tr>
                        <tr>
                            <td>Modo offline</td>
                            <td>Modo offline</td>
                            <td>Modo offline</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
