.tools-content{
    display: grid;
    justify-content: center;
    grid-template-rows: 10% auto;
    margin: 10vh 0px ; 
    height: 150vh;
}

.tools-content h1{
    text-align: center;
}


.tools-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    justify-content: center;
    width: 150vh;
    gap: 5vh;
}

.tool{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tool-img{
    height: 100%;
    width: 100%;
}

.tool-info-cont{
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-rows: 10% 70% 20%;
    padding: 20px;
    grid-template-columns: 100%;
}

.tool-info-cont button{
    width: 100% ;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }