.alarm-content{
    display: grid;
    justify-content: center;
    margin: 10vh 0vh;
}

.alarm-content h1{
    text-align: center;
}

.alarm-card{
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 5vh;
}