.content{
    display: grid;
    justify-content: center;
    grid-template-rows: 10% auto;
    margin: 10vh 0px ; 
    height: 130vh;
}

.content h1{
    text-align: center;
}

.contacto-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 90%;
    justify-content: center;
    width: 150vh;
    gap: 5vh;
}

.contacto{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.contacto-img{
    height: 210px;
    width: 1000px;
}

.contacto-info-cont{
    display: grid;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    line-height: 1em;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }