.packs-content{
    display: grid;
    justify-content: center;
    grid-template-rows: 10% auto;
    margin: 10vh 0px ; 
    height: 150vh;
}

.packs-content h1{
    text-align: center;
}

.packs-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 150vh;
    gap: 5vh;
}

.pack{
    display: grid;
    grid-template-rows: 20% 45% 20% 15%;
    padding: 5vh 0vh;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }