.content{
    display: grid;
    justify-content: center;
    grid-template-rows: 10% auto;
    margin: 10vh 0px ; 
    height: 130vh;
}

.content h1{
    text-align: center;
}

.tools-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 90%;
    justify-content: center;
    width: 150vh;
    gap: 5vh;
}

.tool{
    display: grid;
    grid-template-columns: 30% 70%;
 
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tool-img{
    height: 210px;
    width: 1000px;
}

.tool-info-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10% 50% 30%;
    padding: 20px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }