.tv-content{
    display: grid;
    grid-template-rows: 5% 10% 4% 25% auto;
    margin: 10vh 0px ; 
    height: 220vh;
}

.tv-content h1{
    text-align: center;
}

.tvh2{
    text-align: start;
    color:white;
}

.tv-subs-h2{
    justify-self: center;
}
.oferta-tv{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    padding: 1vh 15vh;
    background-color: #82c2fd;
    color:white;
    gap: 2vh;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } 


  .tv-llama{
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: center;
      background-color: #b5cadd;
  }

.tv-card{
    display: grid;
    background-color: red;
    padding: 0vh 10vh;
    grid-template-columns: 50% 50%;
}

.tv-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 90%;
    justify-content: center;
    width: 150vh;
    gap: 5vh;
    justify-self: center;
}

.tv{
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 4vh;
}

.tv-img{
    height: 100%;
}

.tv-info-cont{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 10% auto;
    padding: 5vh 0vh;
}



.canales-incluidos{
    display: grid;
    grid-template-columns:  auto auto auto;
    justify-content: center;
    align-items: center;
}

.canales-incluidos p{
  min-width: 15vh;
  text-align: start;
}


.tv-subs-container{
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 90%;
    justify-content: center;
    width: 150vh;
    gap: 5vh;
}

.tv-subs{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tv-subs-img{
    height: 100%;
}

.tv-subs-info-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 15% 50% 30%;
    padding-top: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
}
