<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telefonico</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../public/css/uikit.css"/>
    <link rel="stylesheet" href="../../public/css/styles.css"/>
    <link rel="stylesheet" href="../../public/css/configurador.css"/>
    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/uikit.js"></script>
    <script src="../../public/js/uikit-icons.js"></script>
    <!-- mapas -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <!-- charts -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>


<!--HEADER-->
<header class="header-big-container">
    <div class="header-contaiter-1">
        <a>Autónomos y empresas</a>
        <a>Contacto</a>
        <a>Area Clientes</a>
    </div>
    <div class="header-contaiter-2">
        <a href="/"><img width="400" src="../../public/images/nombre.png" alt=""></a>
    </div>
    <div class="header-contaiter-3">
        <a class="header-link"><img  src="../../public/images/header/linea-internt.png" alt=""><span>Línea Internet</span></a>
        <a class="header-link"><img  src="../../public/images/header/linea-movil.png" alt=""><span>Línea Móvil</span></a>
        <a class="header-link"><img  src="../../public/images/header/linea-tv.png" alt=""><span>Línea TV</span></a>
        <a class="header-link"><img  src="../../public/images/header/packs.png" alt=""><span>Packs</span></a>
        <a class="header-link"><img  src="../../public/images/header/movilesymas.png" alt=""><span>Móviles y más</span></a>
        <a class="header-link"><img  src="../../public/images/header/tools.png" alt=""><span>Herramientas</span></a>
        <a class="header-link"><img  src="../../public/images/header/contacto.png" width="80" alt=""><span>Contacto</span></a>
    </div>
</header>


<div class="configurador-content">
    <h1>Configurador de Packs</h1>
    <h2>Utilice nuestro configurador de packs para crear un pakc personalizado que se ajuste a sus necesidades. Seleccione las opciones que desee oara cada uno de los elementos del pack</h2>
    <div class="configurador-container">
        <div class="configurador-card">
            <h3 class="configurar-h3-card">Línea Internet y Fijo</h3>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-1">
                    <img  src="../../public/images/header/linea-internet.png" alt="">
                    <h4>Velocidad de Internet</h4>
                </div>
                <div class="configurador-velocidad-2">
                    <button class="button-configurar ">150 MB</button>
                    <button class="button-configurar">300 MB</button>
                    <button class="button-configurar ">600 MB</button>
                </div>
            </div>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-1">
                    <img  src="../../public/images/header/linea-internet.png" alt="">
                    <h4>Número de líneas fijas</h4>
                </div>
                <div class="configurador-velocidad-2">
                    <button class="button-configurar ">1</button>
                    <button class="button-configurar">2</button>
                    <button class="button-configurar ">3</button>
                </div>
            </div>
        </div>
        <div class="configurador-card-2">
            <h3 class="configurar-h3-card">Línea Móvil</h3>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Línea móvil principal</h4>
            </div>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-1">
                    <img  src="../../public/images/header/linea-internet.png" alt="">
                    <h4>Número de líneas fijas</h4>
                </div>
                <div class="configurador-velocidad-2">
                    <button class="button-configurar ">5 GB</button>
                    <button class="button-configurar">30 GB</button>
                    <button class="button-configurar ">Datos ilimitados</button>
                </div>
            </div>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Líneas móvil adicionales</h4>
                <button class="button-configurar ">Añadir línea móvil adicional</button>
            </div>
        </div>

        <div class="configurador-card-2">
            <h3 class="configurar-h3-card">TV</h3>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Pack TV</h4>
            </div>
            <div class="configurador-velocidad">
                <div class="configurador-velocidad-3">
                    <button class="button-configurar ">Series</button>
                    <button class="button-configurar">Infantil</button>
                    <button class="button-configurar ">Cine</button>
                    <button class="button-configurar ">No incluir</button>
                </div>
            </div>
            <div class="configurtar-movil-apart">
                <h4 class="configurador-h4">Subscripciones</h4>
                <div class="checks">
                    <label class="check-container">Samsung
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-container">Xiaomi
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <label class="check-container">Apple
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                
                    </div>
                    
            </div>
        </div>
        <div class="configurador-card">
            <h3 class="configurar-h3-card">Finaliza tu pedido</h3>
            <div class="configurador-card-container">
                <div class="configurador-sub-card">
                    <img class="configurador-img" src="../../public/images/note9.png" >
                    <button class="button-configurar ">Añadir dispositivo móvil</button>
                </div>
                <div class="configurador-sub-card">
                    <img class="configurador-img" src="../../public/images/oppo.png" >
                    <button class="button-configurar ">Añadir objeto inteligente</button>
                </div>
                <div class="configurador-sub-card">
                    <img class="configurador-img" src="../../public/images/alarma.jpg" >
                    <button class="button-configurar ">Añadir servicio de alarma</button>
                </div>
            </div>
        </div>

        <div class="configurador-precio">
            <h3 class="configurar-h3-card"><strong>TOTAL 78,99 €/mes</strong></h3>
            <button class="button-configurar ">CONTRATAR</button>
            <button class="outline">VER DESGLOSE</button>
        </div>
    </div>

</div>

<!--FOOTER-->
<footer class="uk-section-secondary">
    <div class="uk-container uk-section">
        <div class="uk-grid uk-child-width-1-4@m">
            <div>
                <h4 class="uk-margin-top">Lo más buscado</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/mi_trabaja">Preguntas frecuentes</a></li>
                    <li><a href="/mi_info">Bucador de tiendas</a></li>
                    <li><a href="/e_exito">Test de velocidad de internet</a></li>
                    <li><a href="/mi_trabaja">Configurador de packs</a></li>
                    <li><a href="/mi_trabaja">Área cliente</a></li>
                </ul>
            </div>

            <div>
                <h4 class="uk-margin-top">Móviles y más</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Apple</a></li>
                    <li><a href="/packs">Samsung</a></li>
                    <li><a href="/internet">Xiaomi</a></li>
                    <li><a href="/s_todos">Objetos inteligentes</a></li>
                </ul>
            </div>
            <div>
                <h4 class="uk-margin-top">Autónomos y empresas</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Casos de éxito</a></li>
                    <li><a href="/packs">Pequeñas empresas</a></li>
                    <li><a href="/internet">Grandes empresas</a></li>
                </ul>
            </div>
            <div>
                <h4 class="uk-margin-top">contacto</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Contacto</a></li>
                    <li><a href="/packs">Preguntas frecuentes</a></li>
                    <li><a href="/internet">Buscador de tiendas</a></li>
                </ul>
            </div>
          
        </div>
    </div>
    <div class="uk-section uk-section-xsmall"
         style="background-color: rgba(0,0,0,0.15)">
        <div class="uk-container">
            <div class="uk-container">Copyright 2020 - Todos los derechos.</div>
            <div class="uk-grid uk-child-width-1-1@s uk-text-center uk-text-right@s"
                 data-uk-grid>
                <div>
                    <a class="uk-icon-button  uk-margin-small-right"
                       data-uk-icon="facebook"></a>
                    <a class="uk-icon-button  uk-margin-small-right"
                       data-uk-icon="twitter"></a>
                    <a class="uk-icon-button"
                       data-uk-icon="instagram"></a>
                </div>
            </div>
        </div>
        
    </div>
</footer>

</body>
</html>
