<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telefonico</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../public/css/uikit.css"/>
    <link rel="stylesheet" href="../../public/css/styles.css"/>
    <link rel="stylesheet" href="../../public/css/home.css"/>
    <link rel="stylesheet" href="../../public/css/linea-movil.css"/>
  

    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/uikit.js"></script>
    <script src="../../public/js/uikit-icons.js"></script>
    <!-- mapas -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <!-- charts -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>


<!--HEADER-->
<header class="header-big-container">
    <div class="header-contaiter-1">
        <a>Autónomos y empresas</a>
        <a>Contacto</a>
        <a>Area Clientes</a>
    </div>
    <div class="header-contaiter-2">
        <a href="/"><img width="400" src="../../public/images/nombre.png" alt=""></a>
    </div>
    <div class="header-contaiter-3">
        <a class="header-link"><img  src="../../public/images/header/linea-internt.png" alt=""><span>Línea Internet</span></a>
        <a class="header-link"><img  src="../../public/images/header/linea-movil.png" alt=""><span>Línea Móvil</span></a>
        <a class="header-link"><img  src="../../public/images/header/linea-tv.png" alt=""><span>Línea TV</span></a>
        <a class="header-link"><img  src="../../public/images/header/packs.png" alt=""><span>Packs</span></a>
        <a class="header-link"><img  src="../../public/images/header/movilesymas.png" alt=""><span>Móviles y más</span></a>
        <a class="header-link"><img  src="../../public/images/header/tools.png" alt=""><span>Herramientas</span></a>
        <a class="header-link"><img  src="../../public/images/header/contacto.png" width="80" alt=""><span>Contacto</span></a>
    </div>
</header>
<div class="home-content">
    <div class="home-card">
        <img  class="fibra-img" src="../../public/images/fibra.jpg" alt="">
        <div class="home-card-info">
            <h2>Nuestra línea de internet con 600Mb de pura fibra</h2>
            <div>
                <p>Nuestra línea de internet de 600Mb incluye</p>
                <ul>
                    <li>Instalada y lista para usar en 24h</li>
                    <li>600Mb simétricos de auténtica fibra</li>
                    <li>Sin permanencia ni costes de instalación</li>
                </ul>
                <p>Precio: 39,95€ al mes, para siempre</p>
            </div>
            <button class="home-button">Contratar</button>
        </div>
    </div>
    <h2 class="home-h2">NUESTRAS <strong>TARIFAS</strong> DE <strong>LÍNEAS MÓVILES</strong></h2>
    <div class="tarifas-lineas-movil">
        <div class="tarifa-linea-movil">
            <h3><strong>19,99 €/mes</strong></h3>
            <div class="info-tarifa-linea-movil">
              <img  src="../../public/images/icons/phonelink_ring_black_48dp.svg" alt="">
              <p> 10Gb de datos al mes y <strong>llamadas ilimitadas</strong></p>
            </div>
          <button class="button">Contratar</button>
        </div>
        <div class="tarifa-linea-movil">
          <h3><strong>29,99 €/mes</strong></h3>
          <div class="info-tarifa-linea-movil">
            <img  src="../../public/images/icons/phonelink_ring_black_48dp.svg" alt="">
            <p> 200Gb de datos al mes y <strong>llamadas ilimitadas</strong></p>
          </div>
        <button class="button">Contratar</button>
      </div>
      <div class="tarifa-linea-movil">
          <h3><strong>49,99 €/mes</strong></h3>
          <div class="info-tarifa-linea-movil">
            <img  src="../../public/images/icons/phonelink_ring_black_48dp.svg" alt="">
            <p><strong>Gb infinitos</strong> de datos al meás y <strong>llamadas ilimitadas</strong></p>
          </div>
        <button class="button">Contratar</button>
      </div>
    </div>
</div>

<!--FOOTER-->
<footer class="uk-section-secondary">
    <div class="uk-container uk-section">
        <div class="uk-grid uk-child-width-1-4@m">
            <div>
                <h4 class="uk-margin-top">Lo más buscado</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/mi_trabaja">Preguntas frecuentes</a></li>
                    <li><a href="/mi_info">Bucador de tiendas</a></li>
                    <li><a href="/e_exito">Test de velocidad de internet</a></li>
                    <li><a href="/mi_trabaja">Configurador de packs</a></li>
                    <li><a href="/mi_trabaja">Área cliente</a></li>
                </ul>
            </div>

            <div>
                <h4 class="uk-margin-top">Móviles y más</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Apple</a></li>
                    <li><a href="/packs">Samsung</a></li>
                    <li><a href="/internet">Xiaomi</a></li>
                    <li><a href="/s_todos">Objetos inteligentes</a></li>
                </ul>
            </div>
            <div>
                <h4 class="uk-margin-top">Autónomos y empresas</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Casos de éxito</a></li>
                    <li><a href="/packs">Pequeñas empresas</a></li>
                    <li><a href="/internet">Grandes empresas</a></li>
                </ul>
            </div>
            <div>
                <h4 class="uk-margin-top">contacto</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Contacto</a></li>
                    <li><a href="/packs">Preguntas frecuentes</a></li>
                    <li><a href="/internet">Buscador de tiendas</a></li>
                </ul>
            </div>
          
        </div>
    </div>
    <div class="uk-section uk-section-xsmall"
         style="background-color: rgba(0,0,0,0.15)">
        <div class="uk-container">
            <div class="uk-container">Copyright 2020 - Todos los derechos.</div>
            <div class="uk-grid uk-child-width-1-1@s uk-text-center uk-text-right@s"
                 data-uk-grid>
                <div>
                    <a class="uk-icon-button  uk-margin-small-right"
                       data-uk-icon="facebook"></a>
                    <a class="uk-icon-button  uk-margin-small-right"
                       data-uk-icon="twitter"></a>
                    <a class="uk-icon-button"
                       data-uk-icon="instagram"></a>
                </div>
            </div>
        </div>
        
    </div>
</footer>

</body>
</html>
