<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telefonico</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../public/css/uikit.css"/>
    <link rel="stylesheet" href="../../public/css/styles.css"/>
    <link rel="stylesheet" href="../../public/css/productos.css"/>
    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/uikit.js"></script>
    <script src="../../public/js/uikit-icons.js"></script>
    <!-- mapas -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <!-- charts -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>


<!--HEADER-->
<header class="header-big-container">
    <div class="header-contaiter-1">
        <a>Autónomos y empresas</a>
        <a>Ayuda</a>
        <a>Area Clientes</a>
    </div>
    <div class="header-contaiter-2">
        <a href="/"><img width="400" src="../../public/images/nombre.png" alt=""></a>
    </div>
    <div class="header-contaiter-3">
        <a><img  src="../../public/images/header/linea-internet.png" alt=""><span>Línea Internet</span></a>
        <a><img  src="../../public/images/header/linea-internet.png" alt=""><span>Línea Móvil</span></a>
        <a><img  src="../../public/images/header/linea-internet.png" alt=""><span>Línea TV</span></a>
        <a><img  src="../../public/images/header/linea-internet.png" alt=""><span>Packs</span></a>
        <a><img  src="../../public/images/header/linea-internet.png" alt=""><span>Móviles y más</span></a>
        <a><img  src="../../public/images/header/linea-internet.png" alt=""><span>Herramientas</span></a>
        <a><img  src="../../public/images/header/linea-internet.png" alt=""><span>Ayuda</span></a>
    </div>
</header>


<div class="productos-content">
    <div class="productos-left-panel">
        <h2>Área Cliente</h2>
        <a>Mi información</a>
        <a>Mis Notificaciones</a>
        <a>Mis Facturas</a>
        <a><strong>Mis Productos Contratados</strong></a>
        <a>Mis productos</a>
        <a>Configuración Roaming</a>
    </div>
    <div class="productos-right-panel">
        <h2>Productos que has contratado</h2>
        <div class="producto-card">
            <div class="producto-card-left">
                <h3>Fibra 1 GB + La Sinfín GB Infinitos (V5) </h3>
                <div class="product-details">
                    <div>
                        <p>984502855 + Internet</p>
                        <p>Internet: 1Gbps</p>
                        <p>Llamadas a fijos: Infinitas</p>
                        <p>LLamadas a móviles: 60 minutos</p>
                    </div>
                    <div>
                        <p>639256984</p>
                        <p>Llamadas: Infinitas</p>
                        <a>Ver bonos y consumo</a><br><br><br>
                        <a>Configurar Roaming</a>
                    </div>
                </div>
            </div>
            <div class="producto-card-right">
                <h3>79,00 €/mes </h3>
                <button class="button">Cambiar Tarifa</button>
                <button class="button">Cancelar Tarifa</button>
                
            </div>
        </div>
        <div class="producto-card">
            <div class="producto-card-left">
                <h3>Fibra 1 GB + La Sinfín GB Infinitos (V5) </h3>
                <div class="product-details">
                    <div>
                        <p>984502855 + Internet</p>
                        <p>Internet: 1Gbps</p>
                        <p>Llamadas a fijos: Infinitas</p>
                        <p>LLamadas a móviles: 60 minutos</p>
                    </div>
                    <div>
                        <p>639256984</p>
                        <p>Llamadas: Infinitas</p>
                        <a>Ver bonos y consumo</a><br><br><br>
                        <a>Configurar Roaming</a>
                    </div>
                </div>
            </div>
            <div class="producto-card-right">
                <h3>79,00 €/mes </h3>
                <button class="button">Cambiar Tarifa</button>
                <button class="button">Cancelar Tarifa</button>
                
            </div>
        </div>

    </div>
</div>

<!--FOOTER-->
<footer class="uk-section-secondary">
    <div class="uk-container uk-section">
        <div class="uk-grid uk-child-width-1-4@m">
            <div>
                <h4 class="uk-margin-top">Lo más buscado</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/mi_trabaja">Preguntas frecuentes</a></li>
                    <li><a href="/mi_info">Bucador de tiendas</a></li>
                    <li><a href="/e_exito">Test de velocidad de internet</a></li>
                    <li><a href="/mi_trabaja">Configurador de packs</a></li>
                    <li><a href="/mi_trabaja">Área cliente</a></li>
                </ul>
            </div>

            <div>
                <h4 class="uk-margin-top">Móviles y más</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Apple</a></li>
                    <li><a href="/packs">Samsung</a></li>
                    <li><a href="/internet">Xiaomi</a></li>
                    <li><a href="/s_todos">Objetos inteligentes</a></li>
                </ul>
            </div>
            <div>
                <h4 class="uk-margin-top">Autónomos y empresas</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Casos de éxito</a></li>
                    <li><a href="/packs">Pequeñas empresas</a></li>
                    <li><a href="/internet">Grandes empresas</a></li>
                </ul>
            </div>
            <div>
                <h4 class="uk-margin-top">Ayuda</h4>
                <ul class="uk-list uk-list-bullet">
                    <li><a href="/e_pequenas">Contacto</a></li>
                    <li><a href="/packs">Preguntas frecuentes</a></li>
                    <li><a href="/internet">Buscador de tiendas</a></li>
                </ul>
            </div>
          
        </div>
    </div>
    <div class="uk-section uk-section-xsmall"
         style="background-color: rgba(0,0,0,0.15)">
        <div class="uk-container">
            <div class="uk-container">Copyright 2020 - Todos los derechos.</div>
            <div class="uk-grid uk-child-width-1-1@s uk-text-center uk-text-right@s"
                 data-uk-grid>
                <div>
                    <a class="uk-icon-button  uk-margin-small-right"
                       data-uk-icon="facebook"></a>
                    <a class="uk-icon-button  uk-margin-small-right"
                       data-uk-icon="twitter"></a>
                    <a class="uk-icon-button"
                       data-uk-icon="instagram"></a>
                </div>
            </div>
        </div>
        
    </div>
</footer>

</body>
</html>
